{% extends "base_generic.html" %}

{% block content %}
	<div style="text-align:center;">
	<a href="{% url 'profile' %}"><div class="prof_page"><h4>PROFILE</h4></div></a>
	<a href="{% url 'addpromo' %}"><div class="prof_page_2"><h4>PROMOTION</h4></div></a>
	</div>
	<hr>



  <h2 style="text-align:center;">Promotion your news and source here:</h2>
   <div  class="price_cost_promotion">
 <h4 style="text-align:center;">Price</h4>
 <div>
 <div class="name_cost"><p>Cost per one news for all time</p></div><div class="price_cost"><p>{{ form.price_promo_news }}</p></div>
 <div class="name_cost"><p>Cost per day of promotion your source</p></div><div class="price_cost"><p>{{ form.price_promo_source_day }}</p></div>
 <div class="name_cost"><p>Cost per week of promotion your source</p></div><div class="price_cost"><p>{{ form.price_promo_source_week }}</p></div>
 <div class="name_cost"><p>Cost per month of promotion your source</p></div><div class="price_cost"><p>{{ form.price_promo_source_month }}</p></div>
 
 </div>
 <h4 style="text-align:center;">After add promo task you can see status of tasks on your profile page.</h4>
 </div>
  <form method="post" class="ads_prom">
    {% csrf_token %}

    <h4> Select type of promotion:</h4>
	{{ form.type }}

<div id="d1" style="display:none;" >       
	  <h4 style="margin:0px auto 20px;"> Select your news:</h4>
		{{ form.newsid }}
	 <h4 style="margin:20px auto;"> Choose period of duration:</h4>
		{{ form.param }}
				<div class="check_your_task_2">
		<input id="checkBox" type="checkbox" onclick="addtask_news(this)"> <p>Please check this box that you confirm your choice.</p>
		</div>
		</div>

		<div id="d2" style="display:none;"> 
        <h4 style="margin:0px auto 20px;"> Select source:</h4>
		{{ form.sourceid }}
		<h4 style="margin:20px auto;"> Choose period of duration:</h4>
		{{ form.param }}
		<div class="check_your_task">
		<input id="checkBox" type="checkbox" onclick="addtask(this)"> <p>Please check this box that you confirm your choice.</p>
		</div>
		</div>
         
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

		{% for field in form %}
		<p style="color: red">{% for error in field.errors %}{{ error }}{% endfor %}</p>
		{% endfor %}
    
  </form>

<script>
window.onload=function(){
$("#id_type").change(function(){
	
	var e = document.getElementById("id_type");
	var value = e.options[e.selectedIndex].value;
	var text = e.options[e.selectedIndex].text;
	console.log("type select changed");
	console.log(value)
	console.log(text)
	switch (value) {
	case "n":
	document.getElementById('d1').style.display="block";
    document.getElementById('d2').style.display="none";

	break;
	case "s":
    document.getElementById('d1').style.display="none";
	document.getElementById('d2').style.display="block";

	break;
	<!-- case "b": -->
	<!-- document.getElementById("newsid").style.visibility="hidden"; -->
	<!-- document.getElementById("sourceid").style.visibility="hidden"; -->
	<!-- document.getElementById("bannerid").style.visibility="visible"; -->
	<!-- document.getElementById("param").style.visibility="visible"; -->
	<!-- break; -->
	}
	});
 } 

</script>

<script>
 function addtask() {
$('.check_your_task').replaceWith( "<button class=log_sub_task type=submit id=me2  >Add Task</button>");
}
 function addtask_news() {
$('.check_your_task_2').replaceWith( "<button class=log_sub_task type=submit id=me2  >Add Task</button>");
}
</script>
{% endblock %}





	




