{% extends "base_generic.html" %}

{% block content %}
<div class="line_ban">
<span id="ct_cqBJnsd"></span>
</div>


<div class="table_filter_3">

 <div class="tab_front_3">
  <form id="us_search_3">
 <div class="caret_vol">
 <h4 class="us_top_text_3">COINS ON PAGE : {{coin_counter}}</h4>
<a href="{% url 'coinlist' %}" class="update_coinlist">SHOW ALL</a>
 <h4 class="caret_tech">SEARCH COIN:</h4>
<input type="search" id="us_search_5" name="search" placeholder="SEARCH COIN..." aria-label="Search through site content">
 <h4 class="caret_tech">SEARCH EXCHANGES:</h4>

<select class="ui fluid search selection dropdown slade" name="search"  multiple="" style="width: 248px;">
  <option value="">EXCHANGES...</option>
   {% for coin in coins %}
  <option value="{{ exchangelist }}">{{ exchangelist }}</option>
   {% endfor %}
   
</select>
 </div>
 <div class="caret_vol">
 <div class="roll">
 <h4>VOLUME 24h:</h4>
  <span id="range-value-1" class="rit"></span><p class="rit">-</p><span id="range-value-2" class="rit"></span>
  <div id="slider3"></div>
 </div>
 <div class="roll">
 <h4>MARKETCAP:</h4>
  <span id="range-value-3" class="rit"></span><p class="rit">-</p><span id="range-value-4" class="rit"></span>
  <div id="slider4"></div>
 </div>
 <div class="roll">
 <h4>COIN SUPPLY:</h4>
  <span id="range-value-5" class="rit"></span><p class="rit">-</p><span id="range-value-6" class="rit"></span>
  <div id="slider5"></div>
 </div>
 <div class="roll">
 <h4>TOTAL COIN SUPPLY:</h4>
 <span id="range-value-7" class="rit"></span><p class="rit">-</p><span id="range-value-8" class="rit"></span>
   <div id="slider6"></div>
</div>
   </div>
    <div class="caret_vol_2">
  <div class="caret_tech_3">
  <h4 class="caret_tech_5">CHANGE BY 24h:</h4>
  <span id="range-value-9" class="rit"></span><p class="rit">-</p><span id="range-value-11" class="rit"></span>
   <div id="slider7"></div>
  </div>
  <select class="sel_fil_3" name="algo">
  <option  value="" selected >Algorithm</option>
  {% for item in algo %}
  <option value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
  <select class="sel_fil_3" name="consensus">
   <option  value="" selected >Consensus</option>
   {% for item in consensus %}
  <option  value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
     <input class="inp_3" type="submit" value="FILTER">
  </div>
   </form>

</div>
</div>
<div class="table_filter">
  <div class="tab_front_2">
<div class="table_btn_promo tab_fil">{% if banner_left %}<a href="{% url 'banner-click' banner_left.pk %}" target="_blank"><img src = "{{ banner_left.image.url}}"></a>{% endif %}</div>
  <div class="table_filter_Search_3 tab_fil">
  
  <h4 class="us_top_text_3">SHOW STATISTIC : </h4><a href="#" class="type_m"><h4 class="us_top_text_3">MARKET</h4></a>
  <a href="#" class="type_m"> <h4 class="us_top_text_3">SOCIAL</h4></a> 
</div>	
		<div class="table_btn_promo tab_fil right_banner">  {% if banner_right %}<a href="{% url 'banner-click' banner_right.pk %}" target="_blank"><img src = "{{ banner_right.image.url}}"></a>{% endif %}</div>
</div>
</div>
<table id="user_list">
<thead>
	<tr>
		<th class="markettable">COIN</th>
		<th class="markettable">PRICE</th>
		<!-- <th class="markettable">1h</th> -->
		<th class="markettable">1d</th>
		<!-- <th class="markettable">7d</th> -->
		<!-- <th class="markettable">1m</th> -->
		<th class="markettable">VOLUME<br>24h</th>
		<th class="markettable">MARKETCAP</th>
		<th class="markettable">COIN SUPPLY</th>
		<th class="markettable">TOTAL SUPPLY</th>
		<th class="markettable">SUPPLY %</th>
		<th class="markettable">START DATE</th>
		<th class="markettable">YEENOT SIGNAL</th>
		<th class="markettable">TWEETS</th>
		<th class="markettable">FOLLOWERS</th>
		<th class="markettable">NEW TWEETS</th>
		<th class="markettable">REDDIT SUB</th>
		<th class="markettable">REDDIT POSTS</th>
		<th class="markettable">NEW REDDIT POSTS</th>
	</tr>
	</thead>
	<tbody class="infinite-container">
	{% for coin in coins %}
	
	<tr class="infinite-item tab_fon">	
		<td class="td_pd">
		<img src="{{coin.image.url}}" style="border-radius: 100%; width: 39px;padding-top: 5px;">
		<h4 style="font-size: 0.9em;">{{coin.name}}<br>({{coin.symbol}})</h4>
		</td>
        <td class="td_pd">
		<p class="price_change">{{news.coinid.price|floatformat:3}}$
		({{news.coinid.change|floatformat:1}}%)</p>		
		</td>
		<td class="td_pd"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td>
		<!-- <td class="td_pd"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td> -->
		<!-- <td class="td_pd"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td> -->
		<!-- <td class="td_pd"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td> -->
		<td class="td_pd">{{coin.volume|floatformat:3}}</td>
		<td class="td_pd">{{coin.mktcap|floatformat:3}}</td>
		<td class="td_pd">{{coin.supply}}</td>
		<td class="td_pd">{{coin.TotalCoinSupply}}</td>
		<td class="td_pd">{{coin.supply_share|floatformat:2}}</td>
		<td class="td_pd">{{coin.StartDate|date:"d M Y"}}</td>
		<td class="td_pd">{% if coin.news_count > 0 %}{{coin.news_count}}{% endif %}</td>
		<td class="td_pd">{{coin.twitter_posts}}</td>
		<td class="td_pd">{{coin.twitter_followers}}</td>
		<td class="td_pd">{{coin.twitter_followers}}</td>
		<td class="td_pd">{{coin.reddit_subscribers}}</td>
		<td class="td_pd">{{coin.reddit_comments_per_day}}</td>
		<td class="td_pd">{{coin.reddit_comments_per_day}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<script>
var snapSlider = document.getElementById('slider3');

noUiSlider.create(snapSlider, {
	start: [0, 1000],
	connect: true,
	range: {
		'min': 0,
		'max': 1000
	}
});
var snapValues = [
	document.getElementById('range-value-1'),
	document.getElementById('range-value-2')
];

snapSlider.noUiSlider.on('update', function( values, handle ) {
	snapValues[handle].innerHTML = values[handle];
});
var slider = document.getElementById('slider4');

noUiSlider.create(slider, {
	start: [0, 100],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}
	
});
var UsnapValues = [
	document.getElementById('range-value-3'),
	document.getElementById('range-value-4')
];

slider.noUiSlider.on('update', function( values, handle ) {
	UsnapValues[handle].innerHTML = values[handle];
});
var sslider = document.getElementById('slider5');

noUiSlider.create(sslider, {
	start: [0, 100],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}
});
var DsnapValues = [
	document.getElementById('range-value-5'),
	document.getElementById('range-value-6')
];

sslider.noUiSlider.on('update', function( values, handle ) {
	DsnapValues[handle].innerHTML = values[handle];
});
var uslider = document.getElementById('slider6');

noUiSlider.create(uslider, {
	start: [0, 100],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}
});
var RsnapValues = [
	document.getElementById('range-value-7'),
	document.getElementById('range-value-8')
];

uslider.noUiSlider.on('update', function( values, handle ) {
	RsnapValues[handle].innerHTML = values[handle];
});
var kslider = document.getElementById('slider7');

noUiSlider.create(kslider, {
	start: [0, 100],
	connect: true,
	range: {
		'min': 0,
		'max': 100
	}
});
var asnapValues = [
	document.getElementById('range-value-9'),
	document.getElementById('range-value-11')
];

kslider.noUiSlider.on('update', function( values, handle ) {
	asnapValues[handle].innerHTML = values[handle];
});
	</script>
	<script>
$('.ui.dropdown').dropdown({
  allowAdditions: true,
  forceSelection: false,
});
	</script>
{% endblock %}
{% if '/catalog/market/' == request.path %} class="type_m_2"{% else %} class="type_m"{% endif %}
parameters:
search='' contain in name or symbol filter
<a href="#" class="type_m"><h4 class="us_top_text_3">TECHNICAL ANALYSIS</h4></a>
 <div class="caret_tech_3">
  <h4 class="caret_tech_5">COIN CHANGE BY:</h4>
   <label for="1h" class="dr">
   <input type="checkbox" id="1h" name="inter" value="1h">
    <span class="checkmark2"></span>  
  <h4 class="caret_tech_4">HOUR</h4>
  </label>
   <label for="1d" class="dr">
   <input type="checkbox" id="1d" name="inter" value="1d" checked>
     <span class="checkmark"></span>
    <h4 class="caret_tech_2">DAY</h4>
	</label>
    <label for="7d" class="dr">
   <input type="checkbox" id="7d" name="inter" value="7d">
	 <span class="checkmark2"></span>
	<h4 class="caret_tech_4">WEEK</h4>
	</label>
   <label for="month" class="dr">  
  <input type="checkbox" id="month" name="inter" value="month">
	 <span class="checkmark2"></span>
	<h4 class="caret_tech_4">MONTH</h4>
	</label>
  </div>
функционал:
ок 1. поиск по имени или символу
2. фильтры - algo, consensus, news on yeenot 
3. sorting - volume (default), mktcap, change, social stats, news on yeenot
4. columns _ выбор дополнительных колонок и наборы колонок (market, info, social, ta indicators, sentiment)
5. exchanges pairs - когда буду загружать информацию по всем обменникам для данной монеты, можно сделать фильтр по обменникам
6. больше столбцов со временем - volatility, change/7day, 30day, 90day, 1h
7. Выбор между разными рангами - cryptocompare(volume), coinmarketcap, coingecko
еще могут быть фильтры по значениям - ползунок значение в пределах таких то