{% extends "base_generic.html" %}

{% block content %}
 {% load static %}
<div class="line_ban">
<span id="ct_cqBJnsd"></span>
</div>


<div class="table_filter_3">

 <div class="tab_front_3">
  <form id="us_search_3">
 <div class="caret_vol">

 <h4 class="caret_tech">SELECT EXCHANGES:</h4>

<select class="ui fluid search selection dropdown slade" name="exchanges"  multiple="">
  <option value="">EXCHANGES... </option>
   {% for exchange in exchangelist %}
  <option value="{{ exchange.exchange }}">{{ exchange.exchange }}({{ exchange.count }})</option>
   {% endfor %}
   
</select>
 <h4 class="caret_tech">SHOW COINS:</h4>
  <h4 class="caret_tech6">ALL</h4>
<label class="switch">
  <input type="checkbox" name="join" value="1">
  <span class="slim roun"></span>
</label>
  <h4 class="caret_tech6">INNER</h4>
 </div>
 <div class="caret_vol">
 <div class="roll">
 <h4>VOLUME 24h:</h4>
   <input type="hidden" id="budget-input1" name="vol_min" value="">
  <input type="hidden" id="budget-input2" name="vol_max" value="">
  <span id="range-value-1" class="rit"></span><p class="rit">-</p><span id="range-value-2" class="rit"></span>
  <div id="slider3"></div>
 </div>
 <div class="roll">
 <h4>MARKETCAP:</h4>
   <input type="hidden" id="budget-input3" name="mc_min" value="">
  <input type="hidden" id="budget-input4" name="mc_max" value="">
  <span id="range-value-3" class="rit"></span><p class="rit">-</p><span id="range-value-4" class="rit"></span>
  <div id="slider4"></div>
 </div>
 <div class="roll">
 <h4>CHANGE BY 24h:</h4>
  <input type="hidden" id="budget-input5" name="ch_min" value="">
  <input type="hidden" id="budget-input6" name="ch_max" value="">
  <span id="range-value-5" class="rit"></span><p class="rit">-</p><span id="range-value-6" class="rit" name="nvmax"></span>
  <div id="slider5"></div>
 </div>
 <div class="roll">
 <h4>SUPPLY %:</h4>
 <input type="hidden" id="budget-input7" name="sup_min" value="">
  <input type="hidden" id="budget-input8" name="sup_max" value="">
 <span id="range-value-7" class="rit"></span><p class="rit">-</p><span id="range-value-8" class="rit"></span>
 
   <div id="slider6"></div>
</div>
   </div>
    <div class="caret_vol_2">
   <h4 class="us_top_text_3">COINS ON PAGE : {{coin_counter}}</h4>
<a href="{% url 'coinlist' %}" class="update_coinlist">SHOW ALL</a>
 <h4 class="caret_tech">SEARCH COIN:</h4>
<input type="search" id="us_search_5" name="search" placeholder="SEARCH COIN..." aria-label="Search through site content">
  <select class="sel_fil_3" name="algo">
  <option  value="" selected >Algorithm</option>
  {% for item in algo %}
  <option value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
  <select class="sel_fil_3" name="consensus">
   <option  value="" selected >Consensus</option>
   {% for item in consensus %}
  <option  value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
     <input class="inp_3" type="submit" value="FILTER">
  </div>
   </form>

</div>
</div>
<div class="table_filter">
  <div class="tab_front_2">
<div class="table_btn_promo tab_fil">{% if banner_left %}<a href="{% url 'banner-click' banner_left.pk %}" target="_blank"><img src = "{{ banner_left.image.url}}"></a>{% endif %}</div>
  <div class="table_filter_Search_3 tab_fil">
  
  <h4 class="us_top_text_3">SHOW STATISTIC : </h4><div class="type_m2" onclick="javascript:toggleColumn2(); qwe(this);"> <h4 class="us_top_text_3">MARKET</h4></div>
  <div class="type_mt" onclick="javascript:toggleColumn();rty(this)"> <h4 class="us_top_text_3">SOCIAL</h4></div> 
</div>	
		<div class="table_btn_promo tab_fil right_banner">  {% if banner_right %}<a href="{% url 'banner-click' banner_right.pk %}" target="_blank"><img src = "{{ banner_right.image.url}}"></a>{% endif %}</div>
</div>
</div>
<table id="user_list_3">
    <!-- <colgroup><col span="5"></colgroup> -->
    <!-- <colgroup id="market1"><col span="7"></colgroup> -->
	<!-- <colgroup id="market2" ><col span="6"></colgroup> -->
<thead>
	<tr>
		<th class="markettable" style="width: 13%;">COIN</th>
		<th class="markettable" style="width: 6%;">$</th>
		<th class="markettable">1d%</th>
		<th class="markettable">7d%</th>
		<th class="markettable">1m%</th>
		<th class="markettable">VOL 24h</th>
		<th class="markettable">MARKETCAP</th>
		<th class="markettable" >COIN SUPPLY</th>
		<th class="markettable" style="width: 8%;">SUPPLY %</th>
		<th class="markettable" style="width: 6%;">ATH</th>
		<th class="markettable" style="width: 6%;">PRICE/ ATH</th>		
		<th class="markettable" style="width: 6%;">ATH DATE</th>
		<th class="markettable" >VOLATILITY 7d</th>		
		<th class="markettable" >VOLATILITY 30d</th>
		<th class="markettable" style="width: 10%;">START DATE</th>
		<th class="markettable" style="width: 10%;"><img src="{% static 'images/yeenot.png' %}" style="height: 27px;width: 28px;"> SIGNAL </th>		
		
		<th class="markettable" id="tw"><img src="{% static 'images/twitter.png' %}" style="height: 27px;width: 28px;"><br>TWEETS</th>
		<th class="markettable" id="tw"><img src="{% static 'images/twitter.png' %}" style="height: 27px;width: 28px;"><br>FOLLOWERS</th>
		<th class="markettable" id="tw"><img src="{% static 'images/red_stat.png' %}" style="height: 26px;width: 28px;padding-bottom: 4px;"> <br>SUBSCRYBERS</th>
		<th class="markettable" id="tw"><img src="{% static 'images/red_stat.png' %}" style="height: 26px;width: 28px;padding-bottom: 4px;"><br>ACTIVE USERS</th>
		<th class="markettable" id="tw"><img src="{% static 'images/red_stat.png' %}" style="height: 26px;width: 28px;padding-bottom: 4px;"><br>POSTS PER DAY</th>

	</tr>
	</thead>
	<tbody class="infinite-container">
	{% for coin in coins %}
	
	<tr class="infinite-item tab_fon">	
		<td class="td_pd2">
		{% if coin.image %}<img src="{{coin.image.url}}" style="border-radius: 100%; width: 30px;vertical-align: middle;">{% endif %}
		<h4 style="font-size: 0.9em;width: 20%;padding-right:32px;display: inline-block; vertical-align:middle;">{{coin.name}}<br>({{coin.symbol}})</h4>
		</td>
        <td class="td_pd3">
		<p class="price_change2">{{coin.price|floatformat:3}}</p>		
		</td>
		<td class="td_pd3"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td>
		<td class="td_pd3"><font color="{% if coin.coin_gecko.p7d > 0 %}green{% else %}red{% endif %}">{{coin.coin_gecko.p7d|floatformat:2}}</font></td>
		<td class="td_pd3"><font color="{% if coin.coin_gecko.p30d > 0 %}green{% else %}red{% endif %}">{{coin.coin_gecko.p30d|floatformat:2}}</font></td>
		<td class="td_pd3">{{coin.volume|floatformat:0}}</td>
		<td class="td_pd3">{{coin.mktcap|floatformat:0}}</td>
		<td class="td_pd3 supl" >{{coin.supply}}</td>
		<td class="td_pd3"  >{{coin.supply_share|floatformat:2}}</td>
				<td class="td_pd3"  >{{coin.ath|floatformat:3}}</td>
		<td class="td_pd3"  >{{coin.athchange|floatformat:2}}</td>
		<td class="td_pd3"  >{{coin.athdate|date:"d M Y"}}</td>			
		<td class="td_pd3"  >{{coin.volatility7day|floatformat:2}}</td>
		<td class="td_pd3"  >{{coin.volatility30day|floatformat:2}}</td>
				<td class="td_pd3"  >{{coin.StartDate|date:"d M Y"}}</td>
		<td class="td_pd3">{% if coin.news_count > 0 %}{{coin.news_count}}{% endif %}</td>
		<td class="td_pd3" id="tw" >{{coin.twitter_posts}}</td>
		<td class="td_pd3" id="tw">{{coin.twitter_followers}}</td>
		<td class="td_pd3" id="tw">{{coin.reddit_subscribers}}</td>
		<td class="td_pd3" id="tw">{{coin.reddit_active_users}}</td>
		<td class="td_pd3" id="tw">{{coin.reddit_posts_per_day}}</td>

	</tr>
	{% endfor %}
	</tbody>
</table>

<script>
var snapSlider = document.getElementById('slider3');

noUiSlider.create(snapSlider, {
	start: [{% if rget.vol_min %} {{rget.vol_min}} {% else %}0{% endif %},{% if rget.vol_max %} {{rget.vol_max}} {% else %}{{coins_volume_max}}{% endif %}],
	connect: true,
	range: {
		'min': 0,
		'10%': 1000,
		'30%': 10000,
		'40%': 100000,
		'50%': 1000000,
		'60%': 10000000,
		'80%': 100000000,
		'90%': 1000000000,
		'max': {{coins_volume_max}}
	}
});
var snapValues = [
	document.getElementById('range-value-1'),
	document.getElementById('range-value-2')
];
var budgetInput1 = document.getElementById('budget-input1');
var budgetInput2 = document.getElementById('budget-input2');
snapSlider.noUiSlider.on('update', function( values, handle ) {
	snapValues[handle].innerHTML = values[handle];
	budgetInput1.value =  parseInt(values[0]);
	budgetInput2.value =  parseInt(values[1]);
});
var slider = document.getElementById('slider4');

noUiSlider.create(slider, {
	start: [{% if rget.mc_min %} {{rget.mc_min}} {% else %}0 {% endif %}, {% if rget.mc_max %} {{rget.mc_max}} {% else %}{{coins_mktcap_max}}{% endif %}],
	connect: true,
	range: {
		'min': 0,
		'10%': 1000,
		'20%': 10000,
		'30%': 100000,
		'40%': 1000000,
		'50%': 10000000,
		'60%': 100000000,
		'70%': 1000000000,
		'80%': 10000000000,
		'90%': 100000000000,
		'max': {{coins_mktcap_max}}
	}
	
});
var UsnapValues = [
	document.getElementById('range-value-3'),
	document.getElementById('range-value-4')
];
var budgetInput3 = document.getElementById('budget-input3');
var budgetInput4 = document.getElementById('budget-input4');
slider.noUiSlider.on('update', function( values, handle ) {
	UsnapValues[handle].innerHTML = values[handle];
	budgetInput3.value =  parseInt(values[0]);
	budgetInput4.value =  parseInt(values[1]);
});
var sslider = document.getElementById('slider5');

noUiSlider.create(sslider, {
	start: [{% if rget.ch_min %} {{rget.ch_min}} {% else %} {{coins_change24h_min}} {% endif %}, {% if rget.ch_max %} {{rget.ch_max}} {% else %}{{coins_change24h_max}} {% endif %}],
	connect: true,
	range: {
		'min': {{coins_change24h_min}},
		'10%':-100,
		'50%': 0,
		'90%': 100,
		'max': {{coins_change24h_max}}
	}
});
var DsnapValues = [
	document.getElementById('range-value-5'),
	document.getElementById('range-value-6')
];
var budgetInput5 = document.getElementById('budget-input5');
var budgetInput6 = document.getElementById('budget-input6');
sslider.noUiSlider.on('update', function( values, handle ) {
	DsnapValues[handle].innerHTML = values[handle];
	budgetInput5.value =  parseInt(values[0]);
	budgetInput6.value =  parseInt(values[1]);
});
var uslider = document.getElementById('slider6');

noUiSlider.create(uslider, {
	start: [{% if rget.sup_min %} {{rget.sup_min}} {% else %}0 {% endif %}, {% if rget.sup_max %} {{rget.sup_max}} {% else %}1{% endif %}],
	connect: true,
	range: {
		'min': 0,
		'max': 1
	}
	
});
var RsnapValues = [
	document.getElementById('range-value-7'),
	document.getElementById('range-value-8')
];
var budgetInput7 = document.getElementById('budget-input7');
var budgetInput8 = document.getElementById('budget-input8');
uslider.noUiSlider.on('update', function( values, handle ) {
	RsnapValues[handle].innerHTML = values[handle];
	budgetInput7.value =  parseFloat(values[0]);
	budgetInput8.value =  parseFloat(values[1]);
});
	</script>

	<script>
$('.ui.dropdown').dropdown({
  allowAdditions: true,
  forceSelection: false,
});
	</script>
{% endblock %}
{% if '/catalog/market/' == request.path %} class="type_m_2"{% else %} class="type_m"{% endif %}
parameters:
search='' contain in name or symbol filter
<a href="#" class="type_m"><h4 class="us_top_text_3">TECHNICAL ANALYSIS</h4></a>
 <div class="caret_tech_3">
  <h4 class="caret_tech_5">COIN CHANGE BY:</h4>
   <label for="1h" class="dr">
   <input type="checkbox" id="1h" name="inter" value="1h">
    <span class="checkmark2"></span>  
  <h4 class="caret_tech_4">HOUR</h4>
  </label>
   <label for="1d" class="dr">
   <input type="checkbox" id="1d" name="inter" value="1d" checked>
     <span class="checkmark"></span>
    <h4 class="caret_tech_2">DAY</h4>
	</label>
    <label for="7d" class="dr">
   <input type="checkbox" id="7d" name="inter" value="7d">
	 <span class="checkmark2"></span>
	<h4 class="caret_tech_4">WEEK</h4>
	</label>
   <label for="month" class="dr">  
  <input type="checkbox" id="month" name="inter" value="month">
	 <span class="checkmark2"></span>
	<h4 class="caret_tech_4">MONTH</h4>
	</label>
  </div>
  {% for item in exquery %} {{item.exchange}}({{item.count}}) {% endfor %}
функционал:
ок 1. поиск по имени или символу
2. фильтры - algo, consensus, news on yeenot 
3. sorting - volume (default), mktcap, change, social stats, news on yeenot
4. columns _ выбор дополнительных колонок и наборы колонок (market, info, social, ta indicators, sentiment)
5. exchanges pairs - когда буду загружать информацию по всем обменникам для данной монеты, можно сделать фильтр по обменникам
6. больше столбцов со временем - volatility, change/7day, 30day, 90day, 1h
7. Выбор между разными рангами - cryptocompare(volume), coinmarketcap, coingecko
еще могут быть фильтры по значениям - ползунок значение в пределах таких то