{% extends "base_generic.html" %}

{% block content %}
<style ..>
td.markettable {
  font-size: 8pt;
  text-align: center;  
}
</style>
<h3>count of coins: {{coin_counter}}</h3>

<form id="us_search">
<input type="search" id="us_search" name="search" placeholder="Search coin..." aria-label="Search through site content">
<button class="inp_2">Search</button>
</form>

<div class="table_filter_Search tab_fil">
  <form role="form" id="form" action="" data-def="">
  
  <select class="sel_fil" name="algo">
  <option  value="" selected >Algo</option>
  {% for item in algo %}
  <option value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
  
  <select class="sel_fil" name="consensus">
   <option  value="" selected >Consensus</option>
   {% for item in consensus %}
  <option  value="{{ item }}">{{ item }}</option>
  {% endfor %}
  </select>
  
   <input class="inp" type="submit" value="FILTER">
  </form>
</div>

<table border = "1" width = "100%" cellpadding = "1" cellspacing = "0">
	<tr>
		<td class="markettable">link</td>
		<td class="markettable">SYMBOL</td>
		<td class="markettable">NAME</td>
		<td class="markettable">PRICE</td>
		<td class="markettable">CHANGE/DAY</td>
		<td class="markettable">VOLUME</td>
		<td class="markettable">MARKETCAP</td>
		<td class="markettable">COIN SUPPLY</td>
		<td class="markettable">TOTAL COIN SUPPLY</td>
		<td class="markettable">START DATE</td>
		<td class="markettable">Algo</td>
		<td class="markettable">Consensus</td>
		<td class="markettable">SITE NEWS COUNT</td>
		<td class="markettable">Tweets</td>
		<td class="markettable">Followers</td>
		<td class="markettable">Rd Subscribe</td>
		<td class="markettable">Rd comments/day</td>
	</tr>
	{% for coin in coins %}
	<tr>		
		<td><img src="{{coin.image.url}}" style="border-radius: 100%; width:30px;"></td>
		<td class="markettable">{{coin.symbol}}</td>
		<td class="markettable">{{coin.name}}</td>
		<td class="markettable">{{coin.price|floatformat:3}}</td>
		<td class="markettable"><font color="{% if coin.change > 0 %}green{% else %}red{% endif %}">{{coin.change|floatformat:2}}</font></td>
		<td class="markettable">{{coin.volume|floatformat:3}}</td>
		<td class="markettable">{{coin.mktcap|floatformat:3}}</td>
		<td class="markettable">{{coin.supply}}</td>
		<td class="markettable">{{coin.TotalCoinSupply}}</td>
		<td class="markettable">{{coin.StartDate|date:"d M Y"}}</td>
		<td class="markettable">{{coin.Algorithm}}</td>
		<td class="markettable">{{coin.ProofType}}</td>
		<td class="markettable">{% if coin.news_count > 0 %}{{coin.news_count}}{% endif %}</td>
		<td class="markettable">{{coin.twitter_posts}}</td>
		<td class="markettable">{{coin.twitter_followers}}</td>
		<td class="markettable">{{coin.reddit_subscribers}}</td>
		<td class="markettable">{{coin.reddit_comments_per_day}}</td>
		
	</tr>
	{% endfor %}
</table>

{% endblock %}

parameters:
search='' contain in name or symbol filter

функционал:
ок 1. поиск по имени или символу
2. фильтры - algo, consensus, news on yeenot 
3. sorting - volume (default), mktcap, change, social stats, news on yeenot
4. columns _ выбор дополнительных колонок и наборы колонок (market, info, social, ta indicators, sentiment)
5. exchanges pairs - когда буду загружать информацию по всем обменникам для данной монеты, можно сделать фильтр по обменникам
6. больше столбцов со временем - volatility, change/7day, 30day, 90day, 1h
7. Выбор между разными рангами - cryptocompare(volume), coinmarketcap, coingecko
еще могут быть фильтры по значениям - ползунок значение в пределах таких то