{% extends "base_generic.html" %}

{% block content %}
{% if banner %}
<div class="banner">
<div class="banner_img">
{% load static %}
<a href="{% url 'banner-click' banner.pk %}"><img src = "{{ banner.image.url }}"></a>
</div>
<div class="banner_content">
<div>
<h1>{{banner.title}}</h1>
<p>{{banner.text}}</p>
</div>
<div>
<div class="link banner_btn"><a href="{% url 'banner-click' banner.pk %}">Заглянуть</a></div>
<div class="filter banner_btn"> Последние посты</div>
</div>
</div>
</div>  
 {% else %}
 <div></div>
{% endif %}
  <div class="table_filter">
  <div class="table_btn_promo tab_fil"></div>
  
  <div class="table_filter_Search tab_fil">
  
  </div>
  
  <div class="table_btn_promo tab_fil"></div>
  </div>

    {% if allnews %}
<!-- need move to css -->

<strong>All News count :</strong> {{ num_news }}
<strong>View Type (block or table) :</strong> {{view_newslist_block}}
<a href="{% url 'change-view' %}"><button>change view</button></a>

	<table id="user_list">
	<thead>
	<tr>
		<th>#</th>
		<th>TITLE</th>
		<th>SOURCE</th>
		<th>TEXT</th>
<th>
  {% if param.time == '0' %}<button value="time=1">
  {% elif param.time == '1' %}<button value="time=0">
  {% else %}<button value="time=1">
  {% endif %}
  created time</button>
  </th>
		<th>direction</th>
		<th>rating</th>
		<th>Likes</th>
		<th></th>
		<th>Dislikes</th>
		<th></th>
		<th>LINK</th>
		<th>USERNAME</th>
		
	</tr>
	</thead>
	<tbody class="infinite-container">
	
	{% for news in allnews %}
	{% if news.promo_status == 'y' %}<tr style="font-weight:bold" class="infinite-item" >{% else %}<tr class="infinite-item">{% endif %} 
		<td>{{news.newsid}}</td>
		<td><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></td>
		<td>{{news.sourceid}}</td>
		<td>{{news.text}}</td>
		
		<td>{{news.time}}</td>
		<td>{{news.direction}}</td>
		<td>{{news.rating}}</td>
		<td>{{news.like}}</td>
		
		{% if user.is_authenticated %}
			{% if news.enable_vote %}
				<td><a href="{{ news.get_like_url }}"><button>Like</button></a></td>
			{% else %}
			    <td></td>
			{% endif %}
		{% else %}
			<td></td>
		{% endif %}
		
		<td>{{news.dislike}}</td>
		
		{% if user.is_authenticated %}
			{% if news.enable_vote %}
				<td><a href="{{ news.get_dislike_url }}"><button>Dislike</button></a></td>
			{% else %}
			    <td></td>
			{% endif %}
		{% else %}
			<td></td>
		{% endif %}
		
		<td><a href="{{ news.link }}">{{ news.link }}</a></td>
		<td>{{news.user}}</td>
		
		
	</tr>
	{% endfor %}
	</tbody>
	</table>
  {% if allnews.has_next %}
    <a class="infinite-more-link" href="?page={{ allnews.next_page_number }}">More</a>
  {% endif %}

    <div class="loading" style="display: none;">
    Loading...
  </div>
  
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
		$("#user_list").trigger("update");
      },
	  
    });
  </script>
    {% else %}
      <p>There are no news.</p>
    {% endif %}       
    
	
{% endblock %}

