{% extends "base_generic.html" %}

{% block content %}

{% if banner %}
<div class="banner">
<div class="banner_img">
{% load static %}
<a href="{% url 'banner-click' banner.pk %}"><img src = "{{ banner.image.url }}"></a>
</div>
<div class="banner_content">
<div>
<h1>{{banner.title}}</h1>
<p>{{banner.text}}</p>
</div>
<div>
<div class="link banner_btn"><a href="{% url 'banner-click' banner.pk %}">Заглянуть</a></div>
<div class="filter banner_btn"> Последние посты</div>
</div>
</div>
</div>  
 {% else %}
 <div></div>
{% endif %}
  <div class="table_filter">
  <div class="tab_front">
  <div class="table_btn_promo tab_fil">{{banner_left.text}}</div>
  
  <div class="table_filter_Search tab_fil">
  <form role="form" id="form" action="" data-def="">
  <select class="sel_fil" name="coin">
  <option  value="" selected >Соin</option>
  {% for coin in coins %}
  <option value="{{ coin }}">{{ coin }}</option>
  {% endfor %}
  </select>
  
  <select class="sel_fil" name="source">
   <option  value="" selected >Channel</option>
   {% for source in sources %}
  <option value="{{ source}}">{{ source }}</option>
  {% endfor %}
  </select>
	<div class="rad fr">
	<p class="rad">DATA:</p>
  <input type="text" name="date" id="datepicker" class="sel_fil rad mm" value="MM/DD/YYYY">
 </div>
  <p class="rad"><b>DIRECTION:</b></p>
   <input class="rad" name="direction" type="radio" value="" id="radi1" checked><label for="radi1"><span></span> All</label>
   <input  class="rad" name="direction" type="radio" id="radi2" value="b"><label for="radi2"><span></span><img src="{% static "images/UP.png" %}"></label>
   <input class="rad" name="direction" type="radio" id="radi3" value="s" ><label for="radi3"><span></span> <img src="{% static "images/Down.png" %}"></label>
   
   <input class="inp" type="submit" value="FILTER">
  </form>
  </div>
  
  
  <div class="table_btn_promo tab_fil" style="float: right;">{{banner_right.text}}</div>
  </div>
  </div>

    {% if allnews %}
<!-- need move to css -->

	<table id="user_list">
	<thead>
	<tr>
		<th>COIN</th>
		<th>CHANNEL</th>
		<th>NEWS</th>
<th style="width: 11%;">
CREATED TIME
  </th>
		<th>DIRECTION</th>
		<th style="width: 10%;">RATING</th>
		<th style="width: 10%;">REAL</th>
		<th style="width: 10%;">FAKE</th>
		
	</tr>
	</thead>
	<tbody class="infinite-container">
	
	{% for news in allnews %}
	{% if news.promo_status == 'y' %}<tr style="font-weight:bold" class="infinite-item tab_pro" >{% else %}<tr class="infinite-item tab_fon">{% endif %} 
		<td class="td_pd"style="width: 10%;">
		<img src="{{news.coinid.image.url}}" style="border-radius: 100%; width: 77px;padding-top: 6px;">
		<h3>{{news.coinid}}</h3>
        <p class="price_change">{{news.coinprice|floatformat:3}}$
		({{news.coinid.change|floatformat:1}}%)</p>		
		</td>
		<td class="td_pd" style="width: 10%;">{{news.sourceid}}</td>
		<td class="td_pd ria"style="width: 45%;"><a href="{{ news.get_absolute_url }}"><h4>{{news.title}}</h4></a><div class="textnews"><p>{{news.text|truncatechars:245}}</p></div>
		{%if news.link %}<a href="{{ news.link }}" class="rt">{{ news.link|truncatechars:130}}</a>{% endif %}
		</td>
		
		<td class="td_pd" style="width: 10%;">{{news.time|date:"d M Y"}}<br>{{news.time|time:"H:i"}}</</td>
		<td class="td_pd">{% if news.direction == 'b' %}<img src="{% static 'images/UP_news.png' %}">{% elif news.direction == 's' %}<img src="{% static 'images/D2l.png' %}">{% endif %}</td>
		<td class="td_pd" style="width: 10%;">{{news.rating}}</td>
		<td style="width: 10%;    text-align: center;     padding: 0px 16px;"><p  id="like_count_{{news.newsid}}">{{news.like}}</p>
		{% if user.is_authenticated %}
		
		
			{% if news.enable_vote %}
		<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)"><p>VOTE</p></div>
				{% endif %}
		
		
{% endif %}

        <p> REAL</p>		
		</td>
		
		<td style="width: 10%;    text-align: center;     padding: 0px 16px;"><p id="dislike_count_{{news.newsid}}">{{news.dislike}}</p>
		
		{% if user.is_authenticated %}
			{% if news.enable_vote %}
				<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)"><p>VOTE</p></div>
			{% endif %}
		{% endif %}
		<p>FAKE</p>
		</td>
		
	</tr>
	{% endfor %}
	</tbody>
	</table>
  {% if allnews.has_next %}
    <a class="infinite-more-link" href="?page={{ allnews.next_page_number}}&coin={{rget.coin}}&source={{rget.source}}&date={{rget.date}}&direction={{rget.direction}}">More</a>
  {% endif %}

    <div class="loading" style="display: none;">
    Loading...
  </div>
<script type="text/javascript">
function like(elem){
console.log('clicked like');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
		   $('#like_count_'+newsid).html(data);
		   $('#like_btn_'+newsid).hide();
		   $('#dislike_btn_'+newsid).hide();
	});
};
function dislike(elem){
console.log('clicked dislike');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
               $('#dislike_count_'+newsid).html(data);
               $('#like_btn_'+newsid).hide();
			   $('#dislike_btn_'+newsid).hide();
    });
};

  </script>
  
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
		console.log('before pageLoad ajax');
				
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
		$("#user_list").trigger("update");
		console.log('after pageLoad ajax');
					
      },
	  
    });
	</script>

  <script>
  window.onload = function () {
  var form = $('#form'), def = form.data('def'), data = {}, action;
  
  $(document).on('change', '#form select', function () {
  	var el = $(this), val = el.val(), name = el.attr('name');
    if (val) {
    	data[name] = val;
    } else {
      delete data[name];
    }
    action = def + "?";
    for(var i in data) {
      action += i + "=" + data[i] + '&';
    }
    action = action.substr(0, action.length - 1);
    form.attr('action', action);
  });
};
</script>

    {% else %}
      <p>There are no news.</p>
    {% endif %}       
    
	
{% endblock %}

