{% extends "base_generic.html" %}

{% block content %}

	{% if user.is_authenticated %}
	{% load static %}
	<div class="prof_inf">
	<h3>{{ profile.user }}:</h3>
	<div class="prof_name">
	<h4><strong>First Name:</strong> {{ user.first_name }}  {% if user.first_name == '' %}<div class="fixed_prof_name">&#9998;</div>{% endif %}</h4>
	<h4><strong>Last Name:</strong> {{ user.last_name }}    {% if user.last_name == '' %} <div class="fixed_prof_name">&#9998;</div>{% endif %} </h4>
	</div>
	<div class="prof_email">
	<h4><strong>e-mail:</strong> {{ user.email }} <div class="fixed_prof_name">&#9998;</div></h4> 
	</div>
    <div class="log_sub_3_prof"> <a href="{% url 'password_reset' %}">RESET PASSWORD</a></div>
	</div>

	<div class="prof_inf_2">
	<h3 style="text-align:center; margin-bottom: 18px;">Your rank:</h3>
	<div class="rank">
  
  <div class="small_up"></div>
  <div class="small_up_left"></div>
  <div class="smal_left_up"></div>
  <div class="small_left"></div>
  <div class="smal_left_down"></div>
  <div class="ea"></div>
  <div class="small_up_right"></div>
  <div class="smal_right_up"></div>
  <div class="small_right"></div>
  <div class="smal_right_down"></div>
   <div class="small_down"></div>
   <div class="small_down_left"></div>
   <div class="small_down_right"></div>
   <div class="rank_status"><h3>{{ profile.rank }}</h3></div>
  </div>
  </div>
  
	<div class="prof_inf">
	<h3 style="text-align:center;">Your points:</h3>
	<div class="type_points">
	<h3><strong>Your points</strong><br>{{ profile.sum_all }}</h3>
	</div>
	<div class="type_points">
	<p style="color: green;"><strong>Sum of all points you get</strong> + {{ profile.sum_positive }}</h4>
	<p style="color: red;"><strong>Sum of all points you loose</strong> {{ profile.sum_negative }}</h4>
	</div>
	<hr>
	<div class="type_points_2">
	<h3><strong> Last day points</strong><br> {{ profile.sum_today }}</h3>
	</div>
	<div class="type_points_2">
	<p style="color: green;"><strong>Sum of all points you get</strong> +{{ profile.sum_today_positive  }}</p>
	<p style="color: red;"><strong>Sum of all points you loose</strong> {{ profile.sum_today_positive  }}</p>
	</div>
	</div>
	
	<div class="prof_news">
	<h3 style="text-align: center;">Your count news: {{ profile.news_count }} </h3>
	<div class="prof_rating">
	<div class="prof_rating_news_max">
	<p><strong>MAX rating of the news</strong></p><div class="max_rating"><p>{{ profile.rating_max|floatformat:2 }}</p></div>
	</div>
	<div class="prof_rating_news_avg">
	<p><strong>AVG rating of the news</strong></p><div class="avg_rating"><p>{{ profile.rating_avg|floatformat:2 }}</p></div>
    </div>	
	<div class="prof_rating_news_min">
	<p><strong>MIN rating of the news</strong></p><div class="min_rating"><p>{{ profile.rating_min|floatformat:2 }}</p></div>
	</div>
	</div>
	<div class="prof_news_votes">
	<div class="prof_vote_real">
	<p><strong>Sum news votes of REAL :</strong>{{profile.likes}}</p>
	</div>
	<div class="prof_vote_fake">
	<p><strong>Sum news votes of FAKE :</strong>{{profile.dislikes}}</p>
    </div>	
	</div>
	<div class="prof_clicks">
	<p><strong>Sum of all clicks on your link news :</strong>{{profile.link_clicks}}</p>
	</div>
	</div>
<div style="text-align:center; margin: 20px;">
<div class="stat_all_act" onclick="show('dfg1'); newstat(this);"><p>YOUR NEWS</p>
</div>
<div class="stat_all_act" onclick="show('dfg2'); newstat(this);"><p>YOUR SOURCES</p>
</div>
<div  class="stat_all_act" onclick="show('dfg3'); newstat(this);"><p>YOUR ADVERTISEMENT</p>
</div>
</div>
     <div id="dfg1" style="display:none;">
	 {% if allnews %}
	<div class="add_news tab_news_add_2"><a href="{% url 'addnews'%}?next={{request.path}}"><div class="round">+</div>Add New</a></div>
<!-- need move to css -->

	<table id="user_list">
	<thead>
	<tr>
		<th>COIN</th>
		<th>CHANNEL</th>
		<th>NEWS</th>
<th style="width: 11%;">
CREATED TIME
  </th>
		<th>DIRECTION</th>
		<th style="width: 10%;">RATING</th>
		<th style="width: 10%;">REAL</th>
		<th style="width: 10%;">FAKE</th>
		<th>NEWS PRICE</th>
		<th>MODERATION STATUS</th>
		<th>PROMO STATUS</th>
	</tr>
		
		</thead>
	<tbody class="infinite-container">
	
	{% for news in allnews %}
	{% if news.promo_status == 'y' %}<tr style="font-weight:bold" class="infinite-item tab_pro" >{% else %}<tr class="infinite-item tab_fon">{% endif %} 
		<td class="td_pd"style="width: 10%;">
		<img src="{{news.coinid.image.url}}" style="border-radius: 100%; width: 77px;padding-top: 6px;">
		<h3>{{news.coinid}}</h3>
        <p class="price_change">{{news.coinid.price|floatformat:3}}$
		({{news.coinid.change|floatformat:1}}%)</p>		
		</td>
		<td class="td_pd" style="width: 10%;">{{news.sourceid}}</td>
		<td class="td_pd ria"style="width: 45%;">
		<p class="duration_change_2">DURATION TIME OF NEWS: {{news.duration}}</p>
		<a href="{{ news.get_absolute_url }}">
		<h4>{{news.title}}</h4></a>
		<div class="textnews_2"><p>{{news.text|truncatechars:245}}</p></div>
		{%if news.link %}<a href="{% url 'news-click' news.pk %}" class="rt">{{ news.link|truncatechars:130}}</a>{% endif %}
		</td>
		
		<td class="td_pd" style="width: 11%;">{{news.time|date:"d M Y"}}<br>{{news.time|time:"H:i"}}</</td>
		<td class="td_pd">{% if news.direction == 'b' %}<img src="{% static 'images/UP_news.png' %}" style="vertical-align: top;">{% elif news.direction == 's' %}<img src="{% static 'images/D2l.png' %}" style="vertical-align: top;">{% endif %}</td>
		<td class="td_pd" style="width: 10%;">{{news.rating}}</td>
		<td style="width: 10%;    text-align: center;     padding: 0px 16px;"><p  id="like_count_{{news.newsid}}">{{news.like}}</p>
		{% if user.is_authenticated %}
		
		
			{% if news.enable_vote %}
		<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)"><p>VOTE</p></div>
				{% endif %}
		
		
{% endif %}

        <p> REAL</p>		
		</td>
		
		<td style="width: 10%;    text-align: center;     padding: 0px 16px;"><p id="dislike_count_{{news.newsid}}">{{news.dislike}}</p>
		
		{% if user.is_authenticated %}
			{% if news.enable_vote %}
				<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)"><p>VOTE</p></div>
			{% endif %}
		{% endif %}
		<p>FAKE</p>
		</td>
		<td>{{news.coinprice|floatformat:3}}</td>
		<td style="text-align:center;">{{news.get_moderation_status_display}}</td>
		<td>{{news.get_promo_status_display}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	    {% else %}
      <div class="add_news tab_news_add_2"><a href="{% url 'addnews'%}?next={{request.path}}"><div class="round">+</div>Add New</a></div>
	  {% endif %} 
	  </div>
	  <div id="dfg2"style="display:none;">
	  	{% if allsource%}    
		
			{% else %}
      <div class="add_news tab_news_add_2"><a href="{% url 'addnews'%}?next={{request.path}}"><div class="round">+</div>Add Sources</a></div>
	  {% endif %} 
	  </div>
      <div id="dfg3"style="display:none;">
	  <h3 style="text-align:center;">This statistic is develop.</h3>
	  </div>
	  <script>
var current = 'dfg1';

function show(id) {
	
document.getElementById(current).style.display = 'none';
	document.getElementById(id).style.display = 'block';
	current = id;
} 
</script>
<script>
var drg;
function newstat(obj) {
obj.className = 'stat_one_act'; 
   if (drg)
drg.className = 'stat_all_act'; 
drg = obj;
}
</script>
	  {% endif %}       
{% endblock %}