{% extends "base_generic.html" %}


#template for rules page

{% block content %}
<div class="line_ban">
<script async src="//appsha1.cointraffic.io/js/?wkey=fagzs3"></script>
<span id="ct_cqBJnsd"></span>
</div>
<div class="rule_yeenot">
<h3><strong>YEENOT Info and rules:</strong></h3>
<p>Here you can find some information about YEENOT.TODAY and read the rules, how to add news and get your first points:</p>
</div>
<div class="about">
<h4>About this project:</h4>
</div>
<div class="about">
<div class="ov_about">
<div class="rab"><p>1</p></div><p> This project was create for people who want to find from many crypto-signals the truest one.</p>
</div>
<div class="ov_about">
<div class="rab_2"><p>2</p></div><p> This project was created for crypto-community voting to decide  fake or real signal is. </p>
</div>
<div class="ov_about" style="border-right:0px;">
<div class="rab_2"><p>3</p></div><p> Also this project has a some game elements, like score, get place on leaders boards and points for users/sources/news - all of their can get a status "crypto-guru" here.</p>
</div>
</div>
<div class="become">
<h4>How to become a user and get a rating:</h4>
{% if user.is_authenticated %}<div class="sidebar-nav become_signup" ><p style="margin:0px;">Signup</p></div>{% else %}<a href="{% url 'signup'%}?next={{request.path}}"><div class="sidebar-nav become_signup" >Signup</div></a>{% endif %}<h3 class="my_result">&#10144;</h3><div  class="dislike_btn_become"><p>FAKE</p></div><h4 class="my_result">VOTE</h4><div  class="like_btn_become"><p>REAL</p></div>
<h3 class="my_result">+</h3>
{% if user.is_authenticated %}<div class="become_add_news sidebar-nav"><a href="{% url 'addnews'%}?next={{request.path}}"><div class="round">+</div>Add News</a></div>{% else %}<div class="become_add_news sidebar-nav"><a href="{% url 'signup'%}?next={{request.path}}"><div class="round">+</div>Add News</a></div>{% endif %}<h3 class="my_result">&#61;</h3>
<h4 class="my_result"> get your rating  and points on </h4><div class="sidebar-nav become_signup_lead" ><h4 style="margin:0px;">leader's board</h4></div>
</div>
<div class="about">
<div class="ov_rules">
<h4 style="text-align: center;"> How to add news:</h4>
<ol start="1">
<li> 1) Choose source, coin, price direction, duration.</li>
<li> 2) Add proof image, title, text, link.</li>
<li> 3) Users can choose period, duration time for news.</li>
</ol>
<h4 style="text-align: center;">Moderation rule:</h4>
<ol>
<li> 1) We moderate all your news and try to do it fast as we can.</li>
<li> 2) After our moderation you can see the status of news in your profile.</li>
</ol>
</div>
<div class="ov_rules">
<h4 style="text-align: center;"> How to rate your news:</h4>
<ol start="1">
<li> 1) All can rate your news.</li>
<li> 2) Read news, click 'real'/'fake' vote. It is your opinion about the reality, integrity, relevance and importance of news.</li>
<li> 3) Periodical we calculate News Rating. We use users opinion plus price changing.</li>
<li> 4) We will highlight high-rated news.</li>
</ol>
</div>
<div class="ov_rules" style="border-right:0px;">
<h4 style="text-align: center;"> How you can get your points and get a first place:</h4>
<ol start="1">
<li> 1) We calculate your early and accurate opinion about news, popularity of your news and sources.</li>
<li> 2) Hourly/Daily we calculate YEENOT points and upgrade  place on "leaders board" to all users.</li>
<li> 3) You can find top users here: <a href="{% url 'topusers' %}">TOP LEADER</a></li>
</ol>
</div>
</div>
<div class="become">
<div class="fd">
<h4 style="text-align: center;"> What means source "YEENOT":</h4>
<p>All News need source. If you want type some news, but you are not are not found the source, you can add only title and link on add news. The source will automatic add by "YEENOT", which means this source is not in list "source" on our site.</p>
<h4 style="text-align: center;"> Add source:</h4>
<p>If you owner on some source/media portal - you can <a href="{% url 'addsource'%}">add it source in your profile</a> or write us to <a href="mailto:support@yeenot.today">support@yeenot.today</a> , <a href="http://t.me/yeenot_today">http://t.me/yeenot_today</a></p>
<p>Periodical we calculate Source Rating.</p>
<p>We use rating from news of this source.</p>
</div>
</div>
<div class="become tab_pro">

<h4 style="text-align: center;">Promo option:</h4>
<p>You can promote some news, sources, coins on home page and other pages in table lists. We add a special background to your content to highlight it among other rows.</p>
<h4> What's need to do:</h4>
<a href="{% url 'addpromo'%}" style="color:#67ab3a;"> add promo here </a><p>
<ol class="ol_promo">
<li> 1) Select your content in your profile and choose time period to your promo (Price will calculate automatic).</li>
<li> 2) Pay in profile with crypto or paypal. You can manage you promo status and view stats in profile.</li>
</ol>
</div>

 {% load static %}
<div class="become">
<h4 style="text-align: center;"> Advertise option:</h4>

<img src="{% static 'images/Avd_ops.png' %}" style="width: 99%;">

<h4 style="text-align: center;"> This three type of banners located on all our site, except this page, pages for news details, profile and registration pages.</h4>
<h4 style="text-align: center;"> If you want to advertise your project on our site please write to our email <a href="mailto:support@yeenot.today" style="color: #67ab3a;">support@yeenot.today</a> or <a href="http://t.me/yeenot_today" style="color: #67ab3a;">http://t.me/yeenot_today</a>.</h4>
</div>

<div class="become">

<div class="ov_future">
<h4>Soon on YEENOT.TODAY:</h4>
<p> 1) As soon as  channels comes to our site and put some news, we will make a page <br>"TOP SOURCES"</p>
<p> 4) Create favorites for user who want to save some news. Use favorites stats for news rating calculation.</p>
<p> 5) Daily distribution of points is fixed. Spend YEENOT points for vote.</p>
<p> 6) Automatic pull of news from sources. </p>
<p> 7) News categories filter. </p>
<p> 8) Community integration (twitter, telegram, facebook, discord, reddit, bitcointalk and others). </p>
<p> 9) REST API for news, sources, coins </p>
<p> 10) Market - list of coins, exchanges with filters and Coin info page with charts and social feeds </p>


</div>
<div class="ov_future" style="border-right:0px;">
<h4>Near future on YEENOT.TODAY:</h4>
<p> 1) Upgrade news to sharing  at the social activity, integration with twitter, telegram. </p>
<p> 2) New types of news - ICO signals, Common news, News Fight.</p>
<p> 3) YEENOT token with airdrop for platform users and exchange to BTC/ETH and promo with YEENOT tokens.</p>
<p> 4) New activity - like/dislike, buy/sell, news repeated </p>
<p> 5) Exchanges Listing bot with autocreate news </p>
<p> 6) News aggregator </p>
</div>
</div>
{% endblock %}

--------------------------
Calculation Methods:
--------------------
News Rating:  
new_rate = real*(p2/p1)-fake*(p2/p1) if direction=buy or hodl,  and real*(p2/p1)-fake*(p2/p1) if direction=sell. 
p1 - news time price of coin. p2 - price after period fo time. Periods - 4h, 1day, 7days.

Source Rating: 
We calculate min, max, average and sum of source's News ratings. New news take more rating. Periods - 1h (x10), 4h(x2), 1day(x1), more 1day(/days). for example:
	new_1 time=1h rating=4, new_2 time=3h rating=10 , new_3 time=1day rating=20 : source_rate = 4*10 + 10*2 + 20*1 = 80. 

Users Rating/Points:


-----------------
useful links:
ok My private info and stats (votes, points) yeenot.today/catalog/profile
ok add source  yeenot.today/catalog/profile/addsource
ok TOP Rated News all time, last day, last week, last month - yeenot.today/catalog/news
ok TOP Rated Sources all time - yeenot.today/catalog/source


New sources and channels added to platform - https://yenot.channel/source_list_timeline
Hall of Fame, Opinion Leaders TOP 100 - https://yenot.channel/users_list
Favorites News https://yenot.channel/profile/news_favorites
Favorites Sources https://yenot.channel/profile/sources_favorites
Coin Market stats https://yenot.channel/coins_list  (market info, count news for coin, social)
Platform updates and news https://yenot.channel/release
This rules https://yenot.channel/rules



