{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="log_in_p" >
 <div class="log_s"><h4 style="margin:0px auto 0px;font-size: 20px; vertical-align:middle;display:inline-block;">Already have user?</h4> <a href="{% url 'login'%}" style="display:inline-block;margin-left: 23px;"><div class="sidebar-nav sign_up_log">Login</div></a></div>

 
  <a href="{% url 'social:begin' 'reddit' %}?next={% url 'index' %}" ><div class="reddit"><img src="{% static '/images/Reddit.png'%}"><p>Sign up with Reddit</p></div></a>
<hr style="border: 1px solid #36970699; width:345px; margin:15px auto 0px;"> 
 <h3 style="margin:10px auto;">Sign up by site form:</h3>
  <form method="post">
    {% csrf_token %}
      <div>
	  <div class="log_username">{{ form.username.label_tag }}</div>
 <input type="text"
       name="{{ form.username.name }}"
       id="{{ form.username.id_for_label }}"
       {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.username.field.max_length }}"
       {% if form.username.field.required %}required{% endif %}>
	   <p class="rem">{{form.username.help_text}}</p> 
<div class="fl">
	   <div class="log_username">{{ form.first_name.label_tag }}</div>
 <input type="text"
       name="{{ form.first_name.name }}"
       id="{{ form.first_name.id_for_label }}"
       {% if form.first_name.value != None %}value="{{ form.first_name.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.first_name.field.max_length }}"
       {% if form.first_name.field.required %}required{% endif %}>
	    <p class="rem">{{form.first_name.help_text}}</p> 
	   </div>

<div class="log_username">*{{ form.email.label_tag }}</div>
 <input type="email"
       name="{{ form.email.name }}"
       id="{{ form.email.id_for_label }}"
       {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.email.field.max_length }}"
       {% if form.email.field.required %}required{% endif %}>
	   <p class="rem">{{form.email.help_text}}</p> 
<div class="log_username">*{{ form.password1.label_tag }}</div>
 <input type="password"
       name="{{ form.password1.name }}"
       id="{{ form.password1.id_for_label }}"
       {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.password1.field.max_length }}"
       {% if form.password1.field.required %}required{% endif %}>
       <p class="rem">{{form.password1.help_text}}</p> 	   
<div class="log_username">*{{ form.password2.label_tag }}</div>
 <input type="password"
       name="{{ form.password2.name }}"
       id="{{ form.password2.id_for_label }}"
       {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ form.password2.field.max_length }}"
       {% if form.password2.field.required %}required{% endif %}>		   
       <p class="rem">{{form.password2.help_text}}</p> 
        
		</div>
        {% for field in form %}
		<p style="color: red">{% for error in field.errors %}{{ error }}{% endfor %}</p>
		{% endfor %}
		
      
    <button class="log_sub" type="submit">Sign up</button>
  </form>
  </div>

{% endblock %}



	




