body{
	    background: url(/static/images/Yeenot_gl_2.png) 15% 29% fixed;
		background-size: cover;
}
p, h1, h2, h3, h4, li, button, ol, a, a:visited, option, input, td, th, select, label{
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-weight:900;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #a0b987;
}
li{
	display:inline-block;
}
.rab {
    display: inline-block;
    padding: 2px 16px 0px 14px;
    border: 1px solid #a0b987;
    margin: -1px -3px 6px;
    vertical-align: top;
    text-align: center;
}
.rab_2 {
    display: inline-block;
    padding: 2px 14px 0px 14px;
    border: 1px solid #a0b987;
    margin: -1px -6px 6px;
    vertical-align: top;
    text-align: center;
}

.ov_about p{
	text-align:center;
	font-size:1.2em;
}
.log_sub_3_prof{
		width: 178px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
    border: 2px solid #4ea60a;
    margin: 16px 0px;
    font-size: 1.2em;
    padding: 2px 0px;
	text-align:center;
}
.text_add{
	margin: 40px auto;
	text-align: center;
	
}

.prof_page{
		    display: inline-block;
    text-align: center;
    padding: 13px 11px;
    border: 1px solid #a0b987;
	    background: #1b2d0cb0;
    cursor: pointer;
	    margin: 20px 10px 0px;
}

.prof_page_2{
	display: inline-block;
    text-align: center;
    padding: 13px 11px;
    border: 1px solid #a0b987;
    background: #2b4f0c;
    cursor: pointer;
	   margin: 20px 10px 0px;
}
.sl_menu{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    vertical-align: top;
position: absolute;
	height:162px;
	text-align:left;
}
.fil_ns_top_ul{
	    margin: 10px 0px 0px;
    text-align: center;
    padding: 0px;
}
.fil_ns_top_ul li{
	border: 1px solid;
    padding: 5px;
}
	.rt, .rt:hover, .rt:active{
	color: #67ab3a !important;
	text-decoration:none!important;
	word-break: break-all;
}
.ads_prom{
    margin: 40px auto 30%;

    text-align: center;	
}
.rank{
  width:200px;
      margin: 0px auto;
	      -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
	
  }
  .ea {
    width: 100px;
    height: 76px;
    background: #5a702da6;
    position: relative;
}
.ea:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #5a702da6;
}
.ea:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #5a702da6;
}
	.small_left{
width: 0px;
    height: 0;
    border-top: 49px solid transparent;
    border-left: 10px solid #5a702da6;
    border-bottom: 49px solid transparent;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    top: -77px;
    display: inline-block;
    position: absolute;
    left: 45px;
}	
.smal_left_up {
    width: 0px;
    height: 0;
    border-top: 30px solid #3d4f1a;
    border-right: 43px solid transparent;
    position: absolute;
    top: -40px;
    left: 49px;
    border-left: 17px solid transparent;
    -webkit-transform: rotate(205deg);
    -moz-transform: rotate(205deg);
    -ms-transform: rotate(205deg);
    -o-transform: rotate(205deg);
    right: -8px;
}
.smal_right_up{
    width: 0px;
    height: 0;
    border-top: 35px solid #3d4f1a;
    border-right: 49px solid transparent;
    position: absolute;
    top: 70px;
    left: 49px;
    border-left: 4px solid transparent;
    -webkit-transform: rotate(191deg);
    -moz-transform: rotate(191deg);
    -ms-transform: rotate(191deg);
    -o-transform: rotate(191deg);
    right: -8px;
}
.smal_left_down {
    width: 0px;
    height: 0;
    border-top: 32px solid #3d4f1a;
    border-right: 15px solid transparent;
    position: absolute;
    top: -51px;
    left: -12px;
    border-left: 40px solid transparent;
    -webkit-transform: rotate(-206deg);
    -moz-transform: rotate(-206deg);
    -ms-transform: rotate(-206deg);
    -o-transform: rotate(-206deg);
    right: 17px;
    border-bottom: 10px solid transparent;
	
}
.smal_right_down {
        width: 0px;
    height: 0;
    border-top: 37px solid #3d4f1a;
    border-right: 9px solid transparent;
    position: absolute;
    top: 60px;
    left: -7px;
    border-left: 49px solid transparent;
    -webkit-transform: rotate(-190deg);
    -moz-transform: rotate(-190deg);
    -ms-transform: rotate(-190deg);
    -o-transform: rotate(-190deg);
    right: 17px;
    border-bottom: 8px solid transparent;
}
.small_up{
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 48px solid #9fbe6c42;
    position: absolute;
    transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    left: 86px;
    top: 12px;
}
.small_down{
width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 49px solid #9fbe6c42;
    position: absolute;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    left: -62px;
    top: 12px;
}
.small_up_left{
width: 0px;
    height: 1px;
    border-top: 26px solid #334118;
    border-left: 84px solid transparent;
    position: absolute;
    transform: rotate(-144deg);
    -moz-transform: rotate (-144deg);
    -ms-transform: rotate(-144deg);
    -o-transform: rotate(-144deg);
    left: 110px;
    top: -100px;
    border-right: 0px solid transparent;
    border-bottom: 98px solid transparent;
	}
	.small_up_right{
    width: 0px;
    height: 1px;
    border-top: 19px solid #334118;
    border-left: 58px solid transparent;
    position: absolute;
    transform: rotate(125deg);
    -moz-transform: rotate (125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    left: 69px;
    top: 56px;
    border-right: 32px solid transparent;
    border-bottom: 2px solid transparent;
	}
.small_right {
    width: 0px;
    height: 0;
    border-top: 49px solid transparent;
    border-left: 10px solid #5a702da6;
    border-bottom: 49px solid #00000000;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    top: 56px;
    display: inline-block;
    position: absolute;
    left: 43px;
	}
.small_down_left {
    width: 0px;
    height: 1px;
    border-top: 20px solid #334118;
    border-left: 56px solid transparent;
    position: absolute;
    transform: rotate(-57deg);
    -moz-transform: rotate (-57deg);
    -ms-transform: rotate(-57deg);
    -o-transform: rotate(-57deg);
    left: -58px;
    top: -3px;
    border-right: 30px solid transparent;
	}
.small_down_right {
    width: 0px;
    height: 1px;
    border-top: 22px solid #334118;
    border-left: 31px solid transparent;
    position: absolute;
    transform: rotate(-124deg);
    -moz-transform: rotate (-124deg);
    -ms-transform: rotate(-124deg);
    -o-transform: rotate(-124deg);
    left: -43px;
    top: 27px;
    border-right: 55px solid transparent;
    border-bottom: 39px solid transparent;
	}
	.rank_status{
	width: 70px;
    position: absolute;
    color: white;
    background:#9fbe6c00;
    height: 97px;
    transform: rotate(90deg);
    top: -12px;
    left: 14px;
    text-align: center;	
	padding-top: 12px;
	}

.price_cost_promotion{
    border: 1px solid #a0b987;
    text-align: center;
    width: 50%;
    margin: auto;
}
#d1{
	margin:20px auto;
}
#d2{
	margin:20px auto;
}
#checkBox {
	    display: inline-block;
    vertical-align: middle;
	margin: 3px auto;
}
.check_your_task p {
	    display: inline-block;
    vertical-align: middle;
	margin: 3px auto;
}
.check_your_task{
	width: 393px;
    margin: 21px auto;
    text-align: center;
    border: 1px solid #4ea60a;
    padding: 3px 5px;
	box-shadow: 1px 2px 21px -1px #9ad33c;
	background: #3b520b61;
}
#id_type{
    width: 205px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
}
#id_newsid{
    width: 205px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
}
#id_param{
    width: 205px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
}
#id_type option{

	text-align:center;
}
#id_sourceid{
	    width:205px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
}
#id_title{
    width: 200px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
    margin: 20px auto;
}
#id_text{
	    border: 2px solid #4ea60a;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
	    color: white;
		width: 100%;
		max-width:675px;
}
#id_coinid{
    width:75px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;

}
.log_in_p{
    margin: 100px auto 30%;
    width: 448px;
    text-align: center;
    background: #43650a70;
    padding: 25px;
    box-shadow: 1px 1px 10px 1px #82c345;
}
.log_in_p_2{
    margin: 100px auto 31%;
    width: 448px;
    text-align: center;
    background: #43650a70;
    padding: 25px;
    box-shadow: 1px 1px 10px 1px #82c345;
}
.log_in_p_add {
    margin: 40px auto 30%;
    width: 55%;
    text-align: left;
    background: #43650a70;
    padding: 25px;
    box-shadow: 1px 1px 10px 1px #82c345;
    display: inline-block;
    vertical-align: middle;
}
.log_in_p_add_2{
	margin: 40px auto 30%;
    width: 55%;
    text-align: left;
    background: #43650a70;
    padding: 25px;
    box-shadow: 1px 1px 10px 1px #82c345;
}
.log_2d {
    color: #c50d0d;
    font-weight: bold;
    font-size: 1.2em;
}
.log_username label{
	       font-size: 1.65em;
}
.log_username_2 {
	       font-size: 1.65em;
}
#id_username{
    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_password{
    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_email{
	    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_new_password1{
		    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_password1{
			    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_password2{
			    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_new_password2{
		    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}

#id_first_name{
	    width: 345px;
    border: 2px solid #4ea60a;
    height: 40px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}


.inp{
	    background: #64b609;
    border: 1px solid #a0b987;
	    padding: 4px 17px;
}
select:after{
	border-color: #a0b987;
}
.col-sm-2{
	    width: 100%;

}
.col-sm-2 ul {
    margin: 0px auto 0px;
    display: inline-block;
    vertical-align: middle;
}
.rad{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 3px;
    margin: 0px;
}
#dfg1{
	margin-bottom:20px;
}
#dfg3{
	margin-bottom:20px;
}
#dfg2{
	margin-bottom:20px;
}
.check_your_task_2 p {
	    display: inline-block;
    vertical-align: middle;
	margin: 3px auto;
}
.check_your_task_2{
	width: 393px;
    margin: 21px auto;
    text-align: center;
    border: 1px solid #4ea60a;
    padding: 3px 5px;
	box-shadow: 1px 2px 21px -1px #9ad33c;
	background: #3b520b61;
}

.name_cost{
	border: 1px solid #a0b987;
	text-align:left;
	display:inline-block;
	width:60%;
	padding:2px ;
}
.price_cost{
	border: 1px solid #a0b987;
	text-align:center;
	display:inline-block;
     width:28%;
	 padding:2px ;
}
.price_cost p{
	margin:0px;

}
.name_cost p{
	margin:0px;

}
.log_sub_task {
    width: 100px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    border: 2px solid #4ea60a;
    margin: 20px auto;
    display: block;
}
.rule_yeenot{
	text-align:center;
}
input[type=radio] {
display:none;
}
input[type=radio] + label span {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: white;
	
} 
input[type=radio]:checked + label span {
background: #64d90b -20px 6px no-repeat;
    border: 3px solid white;

	
}



#datepicker {
padding: 0px;
    text-align: center;
    width: 121px;	
}
option, selected{
	    background: #234700;
}

.mm{
	border:0px;
	background:transparent;
}
.mm:after{
	border:0px;
	background:transparent;
}
div.datepicker{
  display: none;
}
.ui-datepicker .weekend .ui-state-default {
  background: #FEA;
}

.ui-datepicker-calendar td a[data-custom] {
  position: relative;
  padding-bottom: 10px;
}

.ui-datepicker-calendar td a[data-custom]:after {
  content: '$' attr(data-custom);
  display: block;
  font-size: small;
}
.header{
	    background: #010500f5;
    text-align: center;
    padding: 10px;
}

.log_sub{
	    width: 100px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    border: 2px solid #4ea60a;
    margin: 8% 0px;
}
.log_sub_2{
	width: 134px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    border: 2px solid #4ea60a;
    margin: 4% 0px;
    font-size: 1.0em;
}
.log_sub_3{
	width: 178px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    border: 2px solid #4ea60a;
    margin: 4% 0px;
    font-size: 1.0em;
}
.log_sub_4 {
    width: 100px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    border: 2px solid #4ea60a;
    margin: 8% auto;
    display: block;
}
.like_btn{
background: #35ae16;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    box-shadow: 0px 0px 0px 4px rgba(27, 46, 23, 0.7);
    margin: 8px auto;
    border: 2px solid silver;
    cursor: pointer;
	
}
.green_top{
	background:#7fd5188f;
}
.like_btn p{
	padding: 14px 0px;
	}
.dislike_btn{
background: #be0708;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    box-shadow: 0px 0px 0px 4px rgba(27, 46, 23, 0.7);
    margin: 8px auto;
    border: 2px solid silver;
    cursor: pointer;

}
.dislike_btn p{
	padding: 14px 0px;
	}
	.ov_future{
display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #a0b987;
    padding-right: 9px;
    padding-left: 1px;
}
.text_area{
	margin:20px auto;
}

.title_add_news{
	text-align:center;

}
.title_add_news label{
	font-size: 1.2em;
}
.rem{
    font-size: 0.75em;
    padding: 2px 5px;
    color: #9eea1f;
    margin: 1px 23px;
}
#id_direction{
	    width:75px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background:transparent;
    padding: 2px 2px;
}
#id_duration{
	    width:170px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 8px;
}
#id_proof_image{
	    width: 170px;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
    margin: 20px 15px;
    display: inline-block;
}
#id_link{
    width: 64%;
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: transparent;
    padding: 2px 2px;
    margin: 20px 0px 0px 59px;
    display: inline-block;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #59a00c !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #377905;
    background:#2b4f03;
    color: #f0f2ef;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #377905;
    background: #2b4f03;
    font-weight: normal;
    color: #ffffff;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    background: #2b4f03;
}
.like_btn_become{
background: #35ae16;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    box-shadow: 0px 0px 0px 4px rgba(27, 46, 23, 0.7);
    margin: 8px auto;
    border: 2px solid silver;
    cursor: pointer;
	display:inline-block;
	
}
.my_result{
display: inline-block;
    margin: 8px 6px 8px 8px;
}
.become{
		border:1px solid #a0b987;
	text-align:center;
	margin-top: 40px;
	background: #1b2d0cb0;
	    margin-bottom: 10px;
	
}
.become_add_news {
background: #46bb1b1a;
    text-align: center;
    border: 1px solid #588510;
    border-radius: 1px;
    height: 38px;
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 20px;
    box-shadow: 2px 1px 73px 4px rgba(67, 168, 65, 0.41);
   
}
.become_signup {
    padding: 8px 21px;
    background: #5a9f0821;
    box-shadow: 2px 1px 55px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #48830e;
    cursor: pointer;
    width: 143px;
	margin-bottom:12px;
}

.like_btn_become p{
	padding: 14px 0px;
	}
	.dislike_btn_become p{
	padding: 14px 0px;
	}
.dislike_btn_become{
background: #be0708;
    border-radius: 100%;
    width: 53px;
    height: 53px;
    box-shadow: 0px 0px 0px 4px rgba(27, 46, 23, 0.7);
    margin: 8px auto;
    border: 2px solid silver;
    cursor: pointer;
display:inline-block;
}

.login{
	padding: 2px 21px;
    background: #5a9f0821;
    box-shadow: 2px 1px 38px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #325014;
}
.done_res{
	margin: 23% auto 30%;

	text-align:center;
}
.reddit{
	background:#ff4500;
	margin: 10px auto;
	border: 1px solid ghostwhite;
	width: 345px;
	height:47px;
}
.reddit:hover, .reddit:active{
	background:#ff4500;
	margin: 10px auto;
	border: 1px solid ghostwhite;
	width: 345px;
	height:47px;
}
.reddit img{
width: 50px;
display: inline-block;
padding: 0px 2px 5px;
}
.reddit p{
display: inline-block;
font-size: 19px;

}
.twitter{
	background:#52c4fa;
	margin: 10px auto;
	border: 1px solid ghostwhite;
	width: 345px;
	height:47px;
}
.twitter:hover, .twitter:active{
	background:#52c4fa;
	margin: 10px auto;
	border: 1px solid ghostwhite;
	width: 345px;
	height:47px;
}
.twitter img{
width: 50px;
display: inline-block;
padding: 0px 2px 5px;
}
.twitter p{
display: inline-block;
font-size: 19px;

}
.log_s{
width: 345px;
margin: 0px auto 16px;
border: 1px solid #36970699;
height: 43px;
padding: 3px;
}
.sign_up_log{
	padding: 6px 21px;
    background: #1f4406cc;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    border: 1px solid #5c793e;
    margin: 0px !important;

}
}
.pagination>li>a:hover, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #59a00c !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #59a00c !important;
    border-color: #59a00c !important;
}
a:hover, a:active{
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-weight:900;
	text-decoration:none;
}
.ns_top_text{
	margin:0px;
	text-align:center;
}

.prof_inf{
	display:inline-block;
	
}
.prof_inf_2{
	display:inline-block;
	    vertical-align: middle;
}
.fixed_prof_name{
    display: inline-block;
    border: 1px solid #a0b987;
    border-radius: 100%;
    width: 26px;
    color: white;
    text-align: center;
    height: 21px;
    background: #4d7b07;
	cursor:pointer;
}
.fixed_prof_email{
    display: inline-block;
    border: 1px solid #a0b987;
    border-radius: 100%;
    width: 26px;
    color: white;
    text-align: center;
    height: 21px;
    background: #4d7b07;
	cursor:pointer;
}
.first_name{
	display:inline-block;
}
.new_first_name{
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
    padding: 2px 5px;
    margin: 10px auto;
}
.change_first_name{
	    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
padding: 2px 7px;
    margin: 10px 5px;
}
.new_email{
    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
    padding: 2px 5px;
    margin: 10px auto;
}
.change_email{
	    border: 2px solid #4ea60a;
    height: 30px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
padding: 2px 7px;
    margin: 10px 5px;
}
.email{
	display:inline-block;
}
.prof_name h4{
	display:inline-block;
	margin: 5px;
}
.prof_name{
	    margin: 20px auto;
}
.prof_email{
	margin: 20px 0px;
	
}
.prof_email h4{
	display:inline-block;
	margin: 5px;
}
.type_points {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

.type_points_2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
.prof_rating{
    text-align: center;
	margin: 21px auto 5px;
}
.prof_clicks{
	text-align:center;
	margin: 0px auto 23px;
}
.prof_rating_source_max{
	text-align:center;
	display:inline-block;
	margin: 2px 12px;
padding: 5px 10px;
    border: 2px solid #a0b987;
	background: #015c00;
	    width: 73px;
}
.prof_rating_source_avg{
	text-align:center;
	display:inline-block;
	margin: 2px 12px 0px;
padding: 5px 11px;
    border: 2px solid #a0b987;
	    background: #7c9907;
	 width: 73px;
}
.prof_rating_source_min{
	text-align:center;
	display:inline-block;
	margin: 0px 12px;
padding: 5px 11px;
    border: 2px solid #a0b987;
	    background: #b81403;
		    width: 73px;
}
.prof_rating_news_max{
	text-align:center;
	display:inline-block;
	margin: 0px 12px;
padding: 5px 11px;
    border: 2px solid #a0b987;
	background: #015c00;
}
.prof_rating_news_avg{
	text-align:center;
	display:inline-block;
	margin: 0px 12px;
padding: 5px 11px;
    border: 2px solid #a0b987;
	    background: #7c9907;
}
.prof_rating_news_min{
	text-align:center;
	display:inline-block;
	margin: 0px 12px;
padding: 5px 11px;
    border: 2px solid #a0b987;
	    background: #b81403;
}
.prof_news_votes{
	text-align:center;
    margin:auto; 
	}
.prof_vote_real{
	display:inline-block;
	padding: 5px 15px;
	    margin: 12px auto;
}
.prof_vote_fake{
	display:inline-block;
    padding: 5px 15px;
	    margin: 12px auto;
	}
.log_sub_3_prof{
		width: 178px;
    height: 32px;
    box-shadow: 1px 2px 21px -1px #9ad33c;
    background: #3b520b61;
    border: 2px solid #4ea60a;
    margin: 16px 0px;
    font-size: 1.2em;
    padding: 2px 0px;
	text-align:center;
}

.sidebar-nav {
    margin-top: 20px;
    display: inline-block;
    list-style: none;
}
.add_news{
    background: #46bb1b1a;
    text-align: center;
    border: 1px solid #124c04;
    border-radius: 1px;
    height: 30px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 6px;
    box-shadow: 2px 1px 73px 4px rgba(67, 168, 65, 0.41);
}
.round{
display: inline-block;
    width: 24px;
    float: left;
    border: 2px solid #3a7908;
    border-radius: 100%;
    height: 23px;
    color: #aeec2f;
    background: #44581a7d;
    margin-right: 6px;
}

.col-sm-10 {
    width: 100%;
    padding: 0px;
    margin: auto;
}

.banner_content{
	    display: inline-block;
    text-align: center;
    width: 45%;
}

.banner_content p{
 margin:12% auto 0px;
}
.banner_content h1{
 margin: 6% auto;
 font-size: 3.25em;
}
.banner_img{
	    max-width: 50%;
        padding: 8px;
    display: inline-block;
    vertical-align: top;
	

}
.banner_img img{
 max-width: 100%;	
max-height:300px;
    border: 1px solid ghostwhite;
}
.banner_btn{
cursor: pointer;
    display: inline-block;
    padding: 3%;
    border: 1px solid #9baa46;
    margin: 2% auto 0px;
    background: #71aa1f69;
}


.table_btn_promo{
	border: 1px solid #a0b987;
	width: 250px;
    height: 50px;
}
.tab_fil{
	display:inline-block;
    margin:auto; 
    vertical-align: middle;	
	}
.tab_fon{
	background: #021202c9;
    border-bottom: 1px solid #102205;
    border-left: 1px solid #102205;
    border-right: 1px solid #102205;
}
.td_pd{
     text-align: center;
    padding: 0px 6px;
}

.price_change{
background: #1f45024d;
    padding: 3px 0px;
	border: 1px solid yellowgreen;
	}
	
#user_list{
	width: 100%;
}
#user_list_2 {
    width: 100%;

}
#user_list_3 {
    width: 100%;

}
.we h3{
	font-weight:900;
	
}

.text_ns_top_prof{
	border: 1px solid  #a0b987;
    padding: 5px;
}
.text_ns_top_prof_time{
	border: 1px solid  #a0b987;
    padding: 5px;
	text-align:center;
	border-top:0px;

}
.text_ns_top_prof_time p{
margin:0px;

}
.text_ns_top_prof p{
min-height: 10px;
}
footer p{
	    margin: 0px;
    text-align: center;
	 display:inline-block; 
	 padding:8px;
}
footer{
	    background: #000e01eb;
    border-bottom: 0px;
    margin: 5px 0px 0px;
	    padding: 0px;
	margin:auto;
	width:100%;
}
.about{
	border:1px solid #a0b987;
	text-align:center;
	    background: #1b2d0cb0;
	
}
.title_about{
	border-bottom:1px solid #a0b987;
}
.stat_all_act p{
	margin:0px;
}
.stat_all_act {
	    display: inline-block;
    text-align: center;
    padding: 13px 11px;
    border: 1px solid #a0b987;
	    background: #1b2d0cb0;
    cursor: pointer;
}
.stat_one_act p{
	margin:0px;
}
.stat_one_act {
	    display: inline-block;
    text-align: center;
    padding: 13px 11px;
    border: 1px solid #a0b987;
    background: #447b07d9;
    cursor: pointer;
}
.prof_news{
	    border: 1px solid #a0b987;
    margin: 37px auto;
	      background: #1b2d0cb0;
	
}
.tab_news_add_2{
	margin: 20px auto;
    width: 140px;
	    background: #447b07d9;
    border: 1px solid #a0b987;
}
.adv_ban_ab{
	    border: 1px solid ghostwhite;
    width: 240px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 40px 23px;
}
.fl{
	    display: inline-block;

}
.logout{
    padding: 5px 6px;
    background: #5a9f0821;
    box-shadow: 2px 1px 38px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #2b4313;
    display: inline-block;
    vertical-align: middle; 
}
@media (max-width: 1199px) {
	.type_points_2 h3 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 123px;
}
.log_in_p_add {
    margin: 40px auto 30%;
    width: 51%;
    text-align: left;
    background: #43650a70;
    padding: 25px;
    box-shadow: 1px 1px 10px 1px #82c345;
    display: inline-block;
    vertical-align: middle;
}
.type_points h3 {
    margin: 0px -1px 0px 0px;
    text-align: center;
    width: 112px;
}
footer {
    background: #000e01eb;
    border-bottom: 0px;
    padding: 0px;
    margin: auto;
    width: 100%;
    text-align: center;

}

.ov_about {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #a0b987;
    padding-right: 9px;
    height: 164px;
    padding-left: 1px;
}
	.table_filter {
    border: 1px solid #a0b987;
    margin: auto;
    position: relative;
    top: 0px;
    background: url(/static/images/Yeenot_gl.png) 29% 7%;
    width: 100%;
}
.banner{
	border: 1px solid #a0b987;
    margin: 20px auto;
    width: 70%;
	background: #1b2d0cb0;
}
.signup{
	padding: 2px 21px;
    background: #5a9f0821;
    box-shadow: 2px 1px 55px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #2f500e;
	cursor:pointer;
}
.sidebar-nav {
    margin-top: 15px;
    display: inline-block;
    list-style: none;
}
.menu_main{
    padding: 5px 5px;
    background: #5a9f0842;
    margin: 0px 22px 0px 0px;
    width: 120px;
    text-align: center;
	position: relative;
	box-shadow: 2px 1px 38px 4px rgba(67, 168, 65, 0.41);
}


body {
    background: url(/static/images/Yeenot_gl_2.png) 15% 29% ;
    background-size: cover;
    min-width: 1199px;
	max-width:100%;
}
footer a, footer a:hover, footer a:active{
    float: none;
    display: inline-block;
    padding: 8px;
}


.table_filter_Search {
    padding: 0px 19px;
    display: inline-block;
    width: 48%;
    text-align: center;
    margin: auto 4.5%;
}
.sel_fil {
    background: transparent;
    border: 1px solid #a0b987;
    padding: 3px 0px;
    text-align: center;
    margin: 4px 3px;
}
.sel_fil:hover {
    background: transparent;
    border: 1px solid #a0b987;
    padding: 3px 0px;
    text-align: center;
    margin: 4px 3px;
}
.fr {
    border: 1px solid #a0b987;
    padding: 1px;
    vertical-align: bottom;
    height: 28px;
    text-align: center;
    margin: 4px 3px;
}
.menu {
    width: 100%;
    border-bottom: 1px solid #a0b987;
    border-right: 1px solid #a0b987;
    background: #1b2d0cb0;
    margin: auto;
}
.tab_front {
    background: transparent;
    padding: 7px 7px;
    margin: auto;
    width: 100%;
}
.prof_inf{
	display:inline-block;
	width:37%;
	    vertical-align: top;
		    padding: 0px 4px;
}
.prof_inf_2 {
    display: inline-block;
    vertical-align: top;
    width: 23%;
        margin: -7px 0px 0px 3px;
}

.logo{
	    padding: 0px;
	    border: 1px solid #a0b987;
		text-align: center;
	}
.linetop{
width: 70%;
    vertical-align: middle;
    text-align: center;
	padding: 0px;
     }
	 .we {
    width: 100%;
    border-top: 2px solid #a0b987;
    border-bottom: 1px solid #a0b987;
    background: #1b2d0cb0;
    padding: 8px;
	
}


.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
float: none;
padding: 0px;
}
}
@media (min-width: 1200px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
float: none;
padding: 0px;
}
.type_points h3 {
margin: 0px 12px 0px 0px;
    text-align: center;
    width: 224px;
}
.type_points_2 h3{
margin: 0px 7px 0px 0px;
    text-align: center;
    width: 233px;
}
.sidebar-nav {
    margin-top: 20px;
    display: inline-block;
    list-style: none;
}
footer a, footer a:hover, footer a:active{
    float: right;
    display: inline-block;
    padding: 8px;
}
.tab_front{
	    background: #1b2d0cb0;
    padding: 5px 7px;
	    margin: 0px;
    width: 100%;
}
.table_filter_Search{
padding: 0px 12px;	
display:inline-block;
}
.table_filter{
border: 1px solid #a0b987;
margin:auto;
position: absolute;
  position: sticky;
  top: 0px;
    background: url(/static/images/Yeenot_gl.png) 29% 7% fixed;
}
.right_banner_float {
    float: right;
    margin: auto;
    position: relative;
}

.right_banner{
    float: right;
    margin: 5px 0px 0px;
}

.ns_top_text {
    margin: 0px 71px;
    text-align: center;
}
.prof_inf{
	display:inline-block;
	width:38%;
	    vertical-align: top;
}
.prof_inf_2 {
    display: inline-block;
    vertical-align: top;
    width: 16%;
        margin: -7px 5% 0px 30px;
}

footer{
    border-bottom: 0px;
    margin: 5px 0px 0px;
    padding: 0px;
	margin:auto;
	    width: 1300px;
}



body{
	    background: url(/static/images/Yeenot_gl_2.png) 15% 29% fixed;
		background-size: cover;
}

.duration_change{
    background: #1f45024d;
    padding: 3px 5px;
    width: 50%;
    border: 1px solid yellowgreen;
    text-align: center;
    display: inline-block;
    float: right;
    margin: 8px 0px 0px;
}
.duration_change_2{
    background: #1f45024d;
    padding: 3px 5px;
    width: 100%;
    border: 1px solid yellowgreen;
    text-align: center;
    display: inline-block;
    float: right;
    margin: 8px 0px 0px;
}
.click_count{
    background: #1f45024d;
    padding: 3px 5px;
    width: 100%;
    border: 1px solid yellowgreen;
    text-align: center;
    display: inline-block;
    float: right;
    margin: 8px 0px;
}
.cr {
    margin: 0px;
}

.ov_rules{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #a0b987;
    padding-right: 9px;
    height: 240px;
    padding-left: 1px;
}
.ov_rules li a{
	color: #67ab3a;
}
.ov_rules li a:hover{
	color: #67ab3a;
}
.ov_rules li {
	padding-top:5px;
}
.ov_rules ol{
	padding-left:15px;
}
.fd{
	padding: 12px;
}
.fd a {
	color: #67ab3a;
}
.fd a:hover {
	color: #67ab3a;
}

.ol_promo{
	text-align:left; 
	margin:auto; 
	width:62%;
	padding-bottom: 12px;
}
.ov_about {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #a0b987;
    padding-right: 9px;
    height: 140px;
    padding-left: 1px;
}


.become_signup_lead {
    padding: 8px 21px;
    background: #5a9f0821;
    box-shadow: 2px 1px 55px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #48830e;
    cursor: pointer;
    
    margin-bottom: 12px;
}

.source_chann{
	width:150px;
}
.tab_pro{
	    font-weight: bold;
    background: #27400b7d;
    border: 2px solid #315304;
}
.ria{
	text-align:left;
	vertical-align: text-top;
}
.textnews{
	max-height: 86px;
    text-overflow: ellipsis;
    padding: 2px;
    overflow: hidden;
    min-height: 86px;
    line-height: 20px;
	margin-bottom: 13px;
}
.textnews_2 {
    max-height: 86px;
    text-overflow: ellipsis;
    padding: 2px;
    overflow: hidden;
    min-height: 86px;
    line-height: 20px;
    margin-bottom: 0px;
}
.ria h4{
	text-decoration:underline;
        display: inline-block;
	}


.signup{
	padding: 2px 21px;
    background: #5a9f0821;
    box-shadow: 2px 1px 55px 4px rgba(67, 168, 65, 0.41);
    border: 1px solid #2f500e;
	cursor:pointer;
}

.menu_main{
    padding: 5px 5px;
    background: #5a9f0842;
    margin: 0px 25px 0px 0px;
    width: 144px;
    text-align: center;
	position: relative;
	box-shadow: 2px 1px 38px 4px rgba(67, 168, 65, 0.41);
}
.menu_main:hover{
    padding: 5px 5px;
    background: #6ec5076e;
    margin: 0px 25px 0px 0px;
    width: 144px;
    text-align: center;
	position: relative;
	box-shadow: 2px 1px 38px 4px rgba(33, 164, 30, 0.71);
}
.menu_main:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 72px solid transparent;
	border-right: 72px solid transparent;
	border-bottom: 25px solid #5a9f0842;
}
.menu_main:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 72px solid transparent;
	border-right: 72px solid transparent;
	border-top: 25px solid #5a9f0842;
}
.we {
    width: 100%;
    border-top: 1px solid #a0b987;
    border-bottom: 1px solid #a0b987;
    background: #1b2d0cb0;
	padding:0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
	max-width: 1300px;
    margin: auto;
}

.linetop{
	width: 74%;
	    vertical-align: middle;
    text-align: center;
	padding: 0px;
}
.banner{
	border: 1px solid #a0b987;
    margin: 20px auto;
    width: 87%;
	background: #1b2d0cb0;
}

.banner_img{
	max-width: 45%;
    padding: 11px;
    display: inline-block;
	    margin: auto;
}
.banner_img img{
	max-width: 100%;
	max-height: 300px;
}
.banner_content{
	    display: inline-block;
    text-align: center;
    min-width: 50%;
	float: right;
    padding-right: 9%;
}

.logo{
	    padding: 0px;
	    border: 1px solid #a0b987;
	}
.menu{
   width: 1300px;
    border-bottom: 1px solid #a0b987;
    border-right: 1px solid #a0b987;
    background: #1b2d0cb0;
    height: 63%;
    position: relative;
    margin: auto;
	}
.sel_fil{
    background: transparent;
    border: 1px solid #a0b987;	
	    padding: 4px 0px;
		cursor: pointer;
}
.sel_fil:hover{
    background: transparent;
    border: 1px solid #a0b987;	
	    padding: 4px 0px;
		cursor: pointer;
}
.fr{
	border: 1px solid #a0b987;
    padding: 2px;
    vertical-align: bottom;
    height: 30px;
}
	}

@media (min-width: 1500px){

.banner {
    border: 1px solid #a0b987;
    margin: 20px auto;
    width: 60%;
 
}

}
