{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="line_ban">
<script async src="//appsha1.cointraffic.io/js/?wkey=fagzs3"></script>
<span id="ct_cqBJnsd"></span>
</div>
<div style="margin:0px auto;">
{% if banner_left %}

<div class="adv_ban_ab">

<div class="adv_ban_ab_1">
<a href="{% url 'banner-click' banner_left.pk %}" target="_blank"><img src = "{{ banner_left.image.url}}"></a>
</div>
<div>
<span id="ct_crKJLYd"></span>
<span id="ct_crqpjqQ"></span>
</div>
</div>
<div class="log_in_p_add">
{% else %}
<div class="log_in_p_add_2">
{% endif %}
<div class="share">
<a class="telegram-share share_link g_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=gp" target="_blank">
<img src="{% static 'images/g_share.png' %}">
</a>
<!--
<a class="telegram-share share_link g_share" href="https://plus.google.com/share?url=https://yeenot.today{{request.get_full_path}}" target="_blank">
 <img src="{% static 'images/g_share.png' %}">
</a>
-->
<a class="share_link" href="{% url 'news-share' %}?id={{news.newsid}}&social=tw" target="_blank">
<img src="{% static 'images/twitter_share.png' %}" style="width: 43px;">
</a>
<!--
<a target=_blank class="share_link" href="https://twitter.com/share?hashtags=YEENOT.TODAY,{{ news.coinid }},cryptocurrency,crypto&text={{ news.title }}&url=https://yeenot.today{{request.get_full_path}}"  onclick="window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');" target="_self"><img src="{% static 'images/twitter_share.png' %}" style="width: 43px;"></a>
-->
<a class="telegram-share share_link tel_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=tg" target="_blank">
 <img src="{% static 'images/telegram-plane.png' %}">
</a>
<!--
<a class="telegram-share share_link tel_share" href="javascript:window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href), '_blank')" target="_blank">
 <img src="{% static 'images/telegram-plane.png' %}">
</a>
-->
<a class="telegram-share share_link red_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=rd" target="_blank">
 <img src="{% static 'images/reddit_share.png' %}">
</a>
<!--
<a class="telegram-share share_link red_share" href="https://www.reddit.com/submit?title={{ news.title }}&url=https://yeenot.today{{request.get_full_path}}" target="_blank">
 <img src="{% static 'images/reddit_share.png' %}">
</a>
-->
<a class="telegram-share share_link FB_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=fb" target="_blank">
 <img src="{% static 'images/facebook_share.png' %}">
</a>
<!--
<a class="telegram-share share_link FB_share" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://yeenot.today{{request.get_full_path}}&amp;p[images][0]=https://yeenot.today/static/images/YO.png&amp;p[title]={{ news.title }}"  target="_blank">
 <img src="{% static 'images/facebook_share.png' %}">
</a>
-->
<a class="telegram-share share_link pocket_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=po" target="_blank">
 <img src="{% static 'images/pocket_share.png' %}" >
</a>
<!--
<a class="telegram-share share_link pocket_share" href="http://profitquery.com/add-to/pocket/?url=https://yeenot.today{{request.get_full_path}}&title={{ news.title }}" target="_blank">
 <img src="{% static 'images/pocket_share.png' %}" >
</a>
-->
<a class="telegram-share share_link in_share" href="{% url 'news-share' %}?id={{news.newsid}}&social=ln" target="_blank">
 <img src="{% static 'images/in_share.png' %}">
</a>
<!--
<a class="telegram-share share_link in_share" href="https://www.linkedin.com/shareArticle?title={{ news.title }}&url=https://yeenot.today{{request.get_full_path}}" target="_blank">
 <img src="{% static 'images/in_share.png' %}">
</a>
-->
</div>

<h1 style="text-align:center;">{{ news.title }}</h1>
<p style="text-align:center;"><strong>Author:</strong>
{% if news.user.first_name %}
 {{ news.user.first_name }}</p>
{% else %}
 {{ news.user.username }}</p>
{% endif %}
<p style="text-align:center;"><strong>Source:</strong> {{ news.sourceid }}</p>
<p style="text-align:center;">
<img src="{{news.coinid.image.url}}" style="border-radius: 100%; width: 30px;">
<a href="{% url 'index' %}?coin={{news.coinid}}" style="text-decoration:underline;"><strong>{{ news.coinid }}</strong></a> {{news.coinid.price|floatformat:3}}$
| <strong>Direction:</strong>
{% if news.direction == 'b' %}<img src="{% static 'images/UP.png' %}">
{% elif news.direction == 's' %}<img src="{% static 'images/Down.png' %}">
{% endif %}
|
<strong>Rating:</strong> {{ news.rating }}
| 
<strong>News price:</strong> {{news.coinprice|floatformat:3}}$
</p>
<div style="text-align:center;">
<div class="fl">
<p id="like_count_{{news.newsid}}">{{news.like}}</p>
		{% if user.is_authenticated %}
			{% if enable_vote %}
				<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)"><p>VOTE</p></div>
			{% endif %}
		{% else %}
		<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)">
		<a href="{% url 'signup' %}?next={{request.path}}"><p>VOTE</p></a>
		</div>
		{% endif %}

        <p> REAL</p>
</div>		
<div class="fl">
<p id="dislike_count_{{news.newsid}}">{{news.dislike}}</p>
		
		{% if user.is_authenticated %}
			{% if enable_vote %}
				<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)"><p>VOTE</p></div>
			{% endif %}
		{% else %}
		<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)">
		<a href="{% url 'signup' %}?next={{request.path}}"><p>VOTE</p></a>
		</div>
		{% endif %}
		<p>FAKE</p>
		
</div>
</div>
<p><strong>Details:          </strong></p>
<div class="text_ns_top_prof">
 <p>{{ news.text|linebreaks }}</p>
{%if news.link %}<a href="{% url 'news-click' news.pk %}" class="rt" target="_blank">{{ news.link|truncatechars:100}}</a>{% endif %}
</div>
<div class="text_ns_top_prof_time">
 <p><strong>Time of creation: </strong> {{ news.time }} <br>
 <strong>Duration:</strong> {{news.get_duration_display}}
 </p> 
</div>
{% if news.proof_image %}
	<h4 style="text-align:center; margin:10px 0px;"><strong>Image of proof:</strong></h4>
	<img src="{{ news.proof_image.url }}" style="width: 100%;">
{% endif %}

</div>


{% if banner_right %}
<div class="adv_ban_ab">

<div class="adv_ban_ab_1">
<a href="{% url 'banner-click' banner_right.pk %}" target="_blank"><img src = "{{ banner_right.image.url}}"></a>

</div>
<div>
<ins class="bmadblock-5af7c6e303793f0010468d03" style="display:inline-block;width:300px;height:250px;"></ins>
<script async type="application/javascript" src="//ad.bitmedia.io/js/adbybm.js/5af7c6e303793f0010468d03"></script>
</div>
</div>
{% else%}
{% endif %}
</div>
<script type="text/javascript">
function like(elem){
console.log('clicked like');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
		   $('#like_count_'+newsid).html(data);
		   $('#like_btn_'+newsid).hide();
		   $('#dislike_btn_'+newsid).hide();
	});
};
function dislike(elem){
console.log('clicked dislike');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
               $('#dislike_count_'+newsid).html(data);
               $('#like_btn_'+newsid).hide();
			   $('#dislike_btn_'+newsid).hide();
    });
};

  </script>
{% endblock %}

<a href="{% url 'source-detail' news.sourceid.pk %}"></a>
