{% extends "base_generic.html" %}

{% block content %}
{% load static %}

{% if banner_left %}
<div class="adv_ban_ab">
<div class="adv_ban_ab_1">
<a href="{% url 'banner-click' banner_left.pk %}" target="_blank"><img src = "{{ banner_left.image.url}}"></a>
</div>
<div>
<ins class="bmadblock-5af7bf8803793f0010468c47" style="display:inline-block;width:300px;height:250px;"></ins>
<script async type="application/javascript" src="//ad.bitmedia.io/js/adbybm.js/5af7bf8803793f0010468c47"></script>
</div>
</div>
<div class="log_in_p_add">
{% else %}
<div class="log_in_p_add_2">
{% endif %}

<h1 style="text-align:center;">{{ news.title }}</h1>
<p style="text-align:center;"><strong>Author:</strong>
{% if news.user.first_name %}
 {{ news.user.first_name }}</p>
{% else %}
 {{ news.user.username }}</p>
{% endif %}
<p style="text-align:center;"><strong>Source:</strong> {{ news.sourceid }}</p>
<p style="text-align:center;">
<img src="{{news.coinid.image.url}}" style="border-radius: 100%; width: 30px;">
<a href="{% url 'index' %}?coin={{news.coinid}}" style="text-decoration:underline;"><strong>{{ news.coinid }}</strong></a> {{news.coinid.price|floatformat:3}}$
| <strong>Direction:</strong>
{% if news.direction == 'b' %}<img src="{% static 'images/UP.png' %}">
{% elif news.direction == 's' %}<img src="{% static 'images/Down.png' %}">
{% endif %}
|
<strong>Rating:</strong> {{ news.rating }}
| 
<strong>News price:</strong> {{news.coinprice|floatformat:3}}$
</p>
<div style="text-align:center;">
<div class="fl">
<p id="like_count_{{news.newsid}}">{{news.like}}</p>
		{% if user.is_authenticated %}
			{% if enable_vote %}
				<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)"><p>VOTE</p></div>
			{% endif %}
		{% else %}
		<div id="like_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-like-ajax' %}"  class="like_btn" onclick="like(this)">
		<a href="{% url 'signup' %}?next={{request.path}}"><p>VOTE</p></a>
		</div>
		{% endif %}

        <p> REAL</p>
</div>		
<div class="fl">
<p id="dislike_count_{{news.newsid}}">{{news.dislike}}</p>
		
		{% if user.is_authenticated %}
			{% if enable_vote %}
				<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)"><p>VOTE</p></div>
			{% endif %}
		{% else %}
		<div id="dislike_btn_{{news.newsid}}" data-newsid="{{news.newsid}}" data-url="{% url 'news-dislike-ajax' %}"  class="dislike_btn" onclick="dislike(this)">
		<a href="{% url 'signup' %}?next={{request.path}}"><p>VOTE</p></a>
		</div>
		{% endif %}
		<p>FAKE</p>
		
</div>
</div>
<p><strong>Details:          </strong></p>
<div class="text_ns_top_prof">
 <p>{{ news.text|linebreaks }}</p>
{%if news.link %}<a href="{% url 'news-click' news.pk %}" class="rt" target="_blank">{{ news.link|truncatechars:100}}</a>{% endif %}
</div>
<div class="text_ns_top_prof_time">
 <p><strong>Time of creation: </strong> {{ news.time }} <br>
 <strong>Duration:</strong> {{news.get_duration_display}}
 </p> 
</div>
{% if news.proof_image %}
	<h4 style="text-align:center; margin:10px 0px;"><strong>Image of proof:</strong></h4>
	<img src="{{ news.proof_image.url }}" style="width: 100%;">
{% endif %}
</div>

{% if banner_right %}
<div class="adv_ban_ab">
<div class="adv_ban_ab_1">
<a href="{% url 'banner-click' banner_right.pk %}" target="_blank"><img src = "{{ banner_right.image.url}}"></a>

</div>
<div>
<ins class="bmadblock-5af7c6e303793f0010468d03" style="display:inline-block;width:300px;height:250px;"></ins>
<script async type="application/javascript" src="//ad.bitmedia.io/js/adbybm.js/5af7c6e303793f0010468d03"></script>
</div>
</div>
{% else%}
{% endif %}
<script type="text/javascript">
function like(elem){
console.log('clicked like');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
		   $('#like_count_'+newsid).html(data);
		   $('#like_btn_'+newsid).hide();
		   $('#dislike_btn_'+newsid).hide();
	});
};
function dislike(elem){
console.log('clicked dislike');
var newsid;
newsid = elem.getAttribute('data-newsid');
console.log(newsid);
url = elem.getAttribute('data-url');
console.log(url);
$.get(url, {news_id: newsid}, function(data){
               $('#dislike_count_'+newsid).html(data);
               $('#like_btn_'+newsid).hide();
			   $('#dislike_btn_'+newsid).hide();
    });
};

  </script>
{% endblock %}

<a href="{% url 'source-detail' news.sourceid.pk %}"></a>
